	
	body {
		background-color: rgba(0,0,0,0);

	}
	
	#AN-sObj-stage {
    position: relative;
    overflow:hidden;
    -webkit-perspective: 600;

    }
    #AN-sObj-stage div { position: absolute; }
    #AN-sObj-stage a {color: inherit; text-decoration:none;}
    #AN-sObj-stage * {margin:0; padding:0;-webkit-transform-style:preserve-3d;}
    body,#AN-sObj-stage {margin:0; padding:0;}
    #AN-sObj-stage{ width: 1024px;
    height: 1024px;
    border-color: black;

			background: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(82,12,12)),
			color-stop(0.5, rgb(194,49,49)),
			color-stop(1, rgb(82,12,12))
		);
    }
    #LargeBall3{ top: 79px;
    left: -50px;
    width: 100px;
    height: 100px;
    }
    #LargeBall3ShadowContainer{ top: -138px;
    left: 195px;
    width: 86px;
    height: 480px;
    -webkit-transform-origin: 50% -20%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0.5s;
    }
    #LargeBall3Shadow{ width: 84px;
    height: 443px;
    top: 0px;
    left: 0px;
    }
    #Ball3Container2{ top: -137px;
    left: 182px;
    width: 90px;
    height: 480px;
    -webkit-transform-origin: 50% -20%;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0.5s;
    }
    #Ball3Container{ top: 354px;
    left: 16px;
    width: 55px;
    height: 63px;
    }
    #Ball3Pic{ width: 55px;
    height: 63px;
    top: 0px;
    left: 0px;
	opacity: 0.8;
    }
    #Reflect3Container{ top: 0px;
    left: 0px;
    width: 55px;
    height: 63px;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0.5s;
    }
    #Reflect3{ width: 55px;
    height: 39px;
    top: 8px;
    left: 0px;
    }
    #Band3Container{ top: 0px;
    left: 20px;
    width: 48px;
    height: 380px;
    }
    #Band3Pic{ width: 48px;
    height: 380px;
    top: 0px;
    left: 0px;
    }
    #SmallBall2{ top: -110px;
    left: -10px;
    width: 100px;
    height: 100px;
    }
    #Ball2ShadowContainer{ top: -138px;
    left: 195px;
    width: 86px;
    height: 480px;
    -webkit-transform-origin: 50% 20%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0.5s;
    }
    #Ball2Shadow{ width: 75px;
    height: 427px;
    top: 0px;
    left: 0px;
    }
    #Ball2Container2{ top: -137px;
    left: 182px;
    width: 90px;
    height: 480px;
    -webkit-transform-origin: 50% 20%;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0.5s;
    }
    #Ball2Container{ top: 354px;
    left: 26px;
    width: 39px;
    height: 47px;
    }
    #Ball2Pic{ width: 39px;
    height: 47px;
    top: 0px;
    left: 0px;
    opacity: 0.8;
    }
    #Reflect2Container{ top: 0px;
    left: 0px;
    width: 39px;
    height: 47px;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0.5s;
    }
    #Reflect2{ width: 39px;
    height: 24px;
    top: 8px;
    left: 0px;
    }
    #Band2Container{ top: 0px;
    left: 20px;
    width: 48px;
    height: 380px;
    }
    #Band2Pic{ width: 48px;
    height: 380px;
    top: 0px;
    left: 0px;
    }
    #LargeBall1{ top: -40px;
    left: -90px;
    width: 100px;
    height: 100px;
    }
    #AN-sObj-22{ top: -138px;
    left: 195px;
    width: 86px;
    height: 480px;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0.5s;
    }
    #AN-sObj-23{ width: 84px;
    height: 443px;
    top: 0px;
    left: 0px;
    }
    #AN-sObj-24{ top: -137px;
    left: 182px;
    width: 90px;
    height: 480px;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
	-webkit-animation-delay: 0.5s;
    }
    #AN-sObj-25{ top: 354px;
    left: 16px;
    width: 55px;
    height: 63px;
    }
    #AN-sObj-26{ width: 55px;
    height: 63px;
    top: 0px;
    left: 0px;
    opacity: 0.8;
    }
    #AN-sObj-27{ top: 0px;
    left: 0px;
    width: 55px;
    height: 63px;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0.5s;
    }
    #AN-sObj-28{ width: 55px;
    height: 39px;
    top: 8px;
    left: 0px;
    }
    #AN-sObj-29{ top: 0px;
    left: 20px;
    width: 48px;
    height: 380px;
    }
    #AN-sObj-30{ width: 48px;
    height: 380px;
    top: 0px;
    left: 0px;
    }
    #Background{ top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    background-image: url("../img/bg_reddot.png");
    background-repeat: repeat;;
    }
    #BackgroundPattern{ width: 128px;
    height: 128px;
    top: 20px;
    left: 20px;
    }
    #AN-sObj-33{ width: 128px;
    height: 128px;
    top: 106px;
    left: 107px;
    font-weight: bold;
    font-style: normal;
    }

    @-webkit-keyframes AN-ani-0 {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(15deg);

    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg);

    }
    }

    @-webkit-keyframes AN-ani-1 {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(15deg);

    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg);

    }
    }

    @-webkit-keyframes AN-ani-2 {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg);

    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(15deg);

    }
    }

    @-webkit-keyframes AN-ani-3 {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(15deg);

    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg);

    }
    }

    @-webkit-keyframes AN-ani-4 {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(15deg);

    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg);

    }
    }

    @-webkit-keyframes AN-ani-5 {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg);

    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(15deg);

    }
    }

    @-webkit-keyframes AN-ani-6 {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(15deg);

    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg);

    }
    }

    @-webkit-keyframes AN-ani-7 {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(15deg);

    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg);

    }
    }

    @-webkit-keyframes AN-ani-8 {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg);

    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(15deg);

    }
    }
   