H1,H2,H3,H4 {
	font-family: Arial, Helvetica, sans-serif;
    color: #646994;
}
H1 A.anchor,H2 A.anchor,H3 A.anchor,H4 A.anchor {
	font-family: Arial, Helvetica, sans-serif;
    color: #646994;
}
BODY,H5,H6,P,CENTER,TD,TH,UL,DL,DIV {
	font-family: Verdana, sans-serif;
}
BODY,P,TD,TH,UL,DL,DIV {
	font-size: 12px;
    line-height: 1.2;
}
H1 {
	text-align: center;
}
CAPTION { font-weight: bold }
DIV.copy {
	width: 100%;
	background-color: #E0EEE3;
	border: 1px solid #b0b0b0;
	text-align: center;
}
DIV.copy P {
  margin: 2px;
}
DIV.qindex {
	width: 100%;
	background-color: #E0EEE3;
	border: 1px solid #b0b0b0;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 140%;
}
DIV.nav {
	width: 100%;
	background-color: #eeeeff;
	border: 1px solid #b0b0b0;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 140%;
}
A.qindex {
       text-decoration: none;
       font-weight: bold;
       color: #537D5B;
}
A.qindex:visited {
       text-decoration: none;
       font-weight: bold;
       color: #537D5B;
}
A.qindex:hover {
	text-decoration: none;
	background-color: #C0D6C4;
}
A.qindexHL {
	text-decoration: none;
	font-weight: bold;
	background-color: #537D5B;
	color: #ffffff;
	border: 1px double #537D5B;
}
A.qindexHL:hover {
	text-decoration: none;
	background-color: #C0D6C4;
	color: #ffffff;
}
A.qindexHL:visited {
 text-decoration: none;
 background-color: #537D5B;
 color: #ffffff;
 }
A.el {
  text-decoration: none;
  font-weight: bold
}
A.elRef { font-weight: bold }
A.code:link { text-decoration: none; font-weight: normal; color: #0000FF}
A.code:visited { text-decoration: none; font-weight: normal; color: #0000FF}
A.codeRef:link { font-weight: normal; color: #0000FF}
A.codeRef:visited { font-weight: normal; color: #0000FF}
A:hover { text-decoration: none; background-color: #E0E2EE; }
DL.el { margin-left: -1cm }
.fragment {
       font-family: monospace
}
PRE.fragment {
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
DIV.ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }
TD.md { background-color: #E0E2EE; font-weight: bold; }
TD.mdname1 { background-color: #E0E2EE; font-weight: bold; color: #602020; }
TD.mdname { background-color: #E0E2EE; font-weight: bold; color: #602020; width: 600px; }
DIV.groupHeader {
       margin-left: 16px;
       margin-top: 12px;
       margin-bottom: 6px;
       font-weight: bold;
}
DIV.groupText { margin-left: 16px; font-style: italic; font-size: 14px }
BODY {
	background: white;
	color: black;
	margin-right: 20px;
	margin-left: 20px;
}
TD.indexkey {
	background-color: #E0E2EE;
	font-weight: bold;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
	border: 1px solid #CCCCCC;
}
TD.indexvalue {
	background-color: #E0E2EE;
	font-style: italic;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
	border: 1px solid #CCCCCC;
}
TR.memlist {
   background-color: #E0E2EE;
}
P.formulaDsp { text-align: center; }
IMG.formulaDsp { }
IMG.formulaInl { vertical-align: middle; }
SPAN.keyword       { color: #008000 }
SPAN.keywordtype   { color: #604020 }
SPAN.keywordflow   { color: #e08000 }
SPAN.comment       { color: #800000 }
SPAN.preprocessor  { color: #806020 }
SPAN.stringliteral { color: #002080 }
SPAN.charliteral   { color: #008080 }
.mdTable {
	border: 1px solid #868686;
	background-color: #E0E2EE;
}
.mdRow {
	padding: 8px 10px;
}
.mdescLeft {
       padding: 0px 8px 4px 8px;
	font-size: 12px;
	margin: 0px;
}
.mdescRight {
       padding: 0px 8px 4px 8px;
	font-size: 12px;
	margin: 0px;
}
.memItemLeft {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	font-size: 12px;
}
.memItemRight {
	padding: 1px 8px 0px 8px;
	margin: 4px;
	font-size: 13px;
}
.memTemplItemLeft {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	font-size: 12px;
}
.memTemplItemRight {
	padding: 1px 8px 0px 8px;
	margin: 4px;
	font-size: 13px;
}
.memTemplParams {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
       color: #606060;
	background-color: #FAFAFA;
	font-size: 12px;
}
.search     { color: #003399;
              font-weight: bold;
}
FORM.search {
              margin-bottom: 0px;
              margin-top: 0px;
}
INPUT.search { font-size: 75%;
               color: #000080;
               font-weight: normal;
               background-color: #eeeeff;
}
TD.tiny      { font-size: 75%;
}
a {
	color: #252E78;
}
a:visited {
	color: #3D2185;
}
div.links p a {
    font-weight: bold;
    text-decoration: none;
    color: #646994;
}
div.links:visited p a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #646994;
}
