body{
	/*background-color: #111;*/
	color: #bbb;
	/*background:url(../img/PooltableBlue256.jpg) 50% repeat;*/
	background: #134060; /* N */
	font-family:helvetica, sans-serif;
	margin:0px;padding:0px; /* N */
}

a{
	color: #f70;
}
h2 {
	color: #ccc;
}
div#page {
	background-color: #000;
	/*border-color: #222;
	border-width: 0px;*/
	background:url(../img/PooltableBlue256.jpg) 50% repeat;
	border: 1px solid #134F75; /* N */
	margin-top: 50px;
}
div#footer {
	color: #888;
}
div.caption-container {
	color: #eee;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
		
	max-width: 334px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
	padding-bottom: 15px;
	border-bottom:1px solid #939393;
}
div.download {
	margin-top: 8px;
}
div.photo-index {
	color: #888;
}
div.navigation a.prev {
	background-image: url(prevPageArrowWhite.gif);
}
div.navigation a.next {
	background-image: url(nextPageArrowWhite.gif);
}
div.loader {
	background-image: url(loaderWhite.gif);
}
div.slideshow img {
	/*border-color: #333;*/
	border:1px solid #145177;
}
ul.thumbs li.selected a.thumb {
	background: #fff;
}
div.pagination a:hover {
	background-color: #111;
}
div.pagination span.current {
	background-color: #fff;
	border-color: #fff;
	color: #000;
}

/* ep */

.reducer {
	width: auto !important;
	height: auto !important;
	max-height: 75px !important;
	max-width: 75px !important;
}
ul.thumbs li.selected a.thumb {
	background:#FFF !important;
}
			
div#eplogocontainer {
	width: 120px;
	/*border: 0px solid #fff;*/
	float:left; 
	display:block;
}
div#eplogo {
	width: 200px;
}
div#eptitlecontainer {

	/*border: 0px solid #0f0;*/
	display:block;
}

div#eptitle {	
	border: 0px solid #fff;
	margin-top:5px;
	text-align:center;
}
div#epsubtitle {
	/*border: 0px solid #f00;*/
	text-align:center;
	display:block;
}
div#epintro {
	text-align:left;
	display:block;
}			
h1, h2 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	margin: 0 0 5px 0;
}
h1 {
	padding: 0;
	font-size: 3em;
	color: #333;
}
h2 {
	padding-top: 5px;
	font-size:2em;
	font-style:italic;
}
#strBookmark,#strBookmark a
{
	margin-top:15px;
	color:#FFF;	
	font-size:1.1em;
	font-weight:bold;
	text-decoration:none;
}
#strBookmark a:hover{
	text-decoration: underline;
}
#zeropix
{
	width:700px;
	height:200px;
	margin:0 auto;
	padding:30px;
	text-align:center;
	font-size:1.1em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:1.5;	
}