/* v 1.01.00*/
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
    color: #000 !important;
	border-collapse: collapse;
	min-height: 417px;
	/*background-color:#000 !important;* ¤/
	/***********************************/
	background-color: #0F3650;
	-webkit-background-size: 256px 256px;	
	background:url(PooltableBlue256.jpg) 50% repeat;
}
.thumbs{background-color: #FFF;/*black*/}

.slider{
	background-color: #000;
	
	/*
	background-color: #0F3650;
	-webkit-background-size: 256px 256px;	
	background:url(PooltableBlue256.jpg) 50% repeat;
	*/
}

body[orient="landscape"] {min-height: 269px;}

img{
	border:0px;
	/*border:2px #FFF solid;*/
}

/* TOOLBARS */
.toolbar{
	color: white; /*black*/
	font-size: 20px;font-weight: bold;
	background: url(toolbar.png) repeat-x;
	height:44px;width:100%;	
	line-height:44px;	
	opacity: 0.90;
}

.toolbar table{width: 320px;}
body[orient="landscape"] .toolbar table{width: 480px;} /*1024x768*/  /*320->768, 480->1024*/

.toolbar table .wing{width:100px;}
body[orient="landscape"] .toolbar table .wing{width:120px;}

.toolbar table .center{
	width:120px;display:block;
	text-align: center;
	overflow: hidden;text-overflow: ellipsis;
    text-decoration: none;white-space: nowrap;	
}

body[orient="landscape"] .toolbar table .center{width:220px;}
 
/* THUMBNAILS */
#thumbs-container
{
	background: #000; /*000*/
	/*
	background-color: #0F3650;
	-webkit-background-size: 256px 256px;	
	background:url(PooltableBlue256.jpg) 50% repeat;
	*/
	
	
	display: none;
	color: gray;font-size: 16px;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;	
}
#thumbs-images-container{padding: 2px;}

#thumbs-toolbar-top{text-align: center;display: none;}

#thumbs-count-text{
	clear:both;text-align: center;
	padding-top: 40px;padding-bottom: 60px;
}

.thumbnail{
	background:#444;
	display:block;
	overflow:hidden;
	float: left;
	margin: 2px 2px;
	height:75px;
	width:75px;
}

/* SLIDER  */
#slider-container{
	display: none;
	line-height:0;
	overflow:hidden;
	/*background-color: #000; ¤*/
	width: 100%;
	height: 100%;	
	color: #000; /*000*/
}

/* SLIDE  */
#slider-container .slide{
	vertical-align: middle;
	text-align: center;	
	width: 320px;
}
body[orient="landscape"] #slider-container .slide{width:480px;}

#slider-container .slide img{	
	max-width: 280px; /*120, 320px*/
	max-height: 178px; /*269px; 417px;*/
	border:2px #FFF solid;
	-webkit-box-shadow:#061621 5px 5px 15px;
	
}

body[orient="landscape"] #slider-container .slide img{	
	
	max-width: 280px; /*to shrink the pic in width for 75% of the screen width (480) => 75%=75x4,8=360.*/
	/*max-width: 480px;*/
	max-height: 178px;/*269px;*/
}

#slider-container .space{
	height: 417px;
	width: 20px;
}

body[orient="landscape"] #slider-container .space{
	height: 269px;
	width: 20px;
}
#slider-container .space-width	{
	height: 1px;
	width: 320px;
}

body[orient="landscape"] #slider-container .space-width{
	height: 1px;
	width: 480px;
}

/* SLIDE DESCRIPTION */
.slider-text{
	width: 100%;
	vertical-align: text-bottom;
	color: white;
	font-size: 20px;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 2px;
}

#slider-desc-container{
	position: absolute;	
	width:320px;
	height:328px;
	top:44px;
}
body[orient="landscape"] #slider-desc-container{
	position: absolute;	
	width:480px;
	height:178px;
	top:44px;
}

#desc-title{font-weight: bold;}
#desc-text{
	font-size: 16px;
	font-weight: bold;
}

/* SLIDER OVERLAY */
#slider-overlay{
	position: absolute;
	width:100%;	
	z-index: 101;
	display: none;
}

#slider-toolbar-top{position: absolute;}

#slider-toolbar-bottom{
	position: absolute;
	top: 373px;
}

body[orient="landscape"] #slider-toolbar-bottom{
	position: absolute;
	top: 225px;
}

/* NAVI ELEMENTS */
.button {
	float:left;
	overflow: hidden;
	text-align:center;
	display:block;
 	margin-left:2px;
 	margin-right:2px;
    padding-left: 3px;
    padding-right: 3px;
    height: 30px;
	min-width: 35px;
	max-width: 60px;
	
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF; /*#FFFFFF*/
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    border-width: 0 8px 0 14px;
	
	-webkit-border-image: url(btnBack.png) 0 8 0 14;
	
}

body[orient="landscape"] .button {max-width: 100px;}

.navi-button{
	display:block;
	text-align: center;
}
.navi-button img{}

#navi-prev{
	text-align:right;
	padding-right:12px;
}
#navi-next{
	text-align:left;
	padding-left:12px;
}

/* UTIL */
#preloader {
    display: none;
    background-image: url(btnBack.png), url(dummy.gif), 
        url(navNext.png), url(navPause.png), url(navPlay.png)
        ,url(navPrev.png), url(toolbar.png), url(loading2.gif);
}

/* SPLASH SCREEN */
.splash-screen{
	color: #000!important; /*white*/
	font-size: small;
	font-weight: bold;
	text-align: center;
	
	width: 100%;
	
	/*background-color: #0F3650!important;*/
	background:url(PooltableBlue256.jpg) 50% repeat!important;;
	/*-webkit-background-size: 256px 256px;	
	background:url(PooltableBlue256.jpg) 50% repeat;*/
	
}
#splash-screen{height: 417px;}
body[orient="landscape"] #splash-screen{height: 269px;}
.noborder{border:none !important; border:0 !important;}

