/*
//---------------------------------
//  General
//---------------------------------
*/

body{
	/*margin:0;
	padding:0;
	line-height: 1.5em;*/
	
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
}
h1, h2, h3, h4, h5, h6{
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px;
}
hr{
	margin-top:30px;
	height: 1px;
	border: 0;
	color: darkGray;
	background-color: darkGray;
}

#wrapper{
	width: 100%;
	max-width: 2000px;
	min-width: 200px;
}
#header{
	height: 80px;
	background-color: darkBlue;
	color: white;
}
#header h1{
	margin: 0;
	padding-top: 30px;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	float: right;
	margin-right: 30px;
	font-weight: normal;
}
#content{
	height:800px;
}
#navigation{
	float: left;
	width: 200px;
	padding: 20px 0 0 15px;
	border-right: 1px dotted darkGray;
	height: 100%;
}
#main{
	float: left;
	width: 75%;
	height: 100%;;
	font-family: Helvetica;
	padding: 20px 20px 0 30px;
}

#loginforms{
	width:70%;
	margin:0 auto;
	margin-top: 80px;
}
#loginforms input{
	border:1px solid #ccc;
	padding: 5px;
	width:70%;
}
#loginforms input:focus{
	outline: none;
	border-color: #FF8000
	
} 
#IdLogin, #BtnSendAm{
	width: 110px;
	height: 33px;
	padding: 2px 0;
	margin-top: 5px;
	outline: none;
	font-size: 13px;
	font-weight:bold;
	float:right;
}
#BtnSendAm{float:left;}

#menu{
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 1px;
}
#menu a{
	display: block;
	height: 25px;
	margin-top: 1px;
	font-family: arial;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 25px;
	color: rgb(173, 173, 173);
	padding: 4px;
}
#menu a:hover{
	text-decoration:underline;
	color: rgb(0, 0, 0);
}
#menu a.first{
	margin-top:0;
}
.noborder{border:none !important;}
/*
//---------------------------------
//  set selected menu active state
//---------------------------------
*/

body#login .active,
body#stats .active
{
	color: rgb(0, 0, 0);
	text-decoration: underline;
}

/*
//---------------------------------
//  stats
//---------------------------------
*/
#StatsDisplay{
	margin: 0 auto;
	width: 600px;
	line-height: 1.6em;
	position: relative;
	top: 100px;	
}
#tbl-stats{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
	
	
}
#tbl-stats td{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
	
	
}
#tbl-stats tbody tr:hover td{
	color: #009;
}

/*
//---------------------------------
//  users
//---------------------------------
*/
#UsersDisplay{
	width: 100%;
	margin: 0 auto;
	line-height: 1.6em;
}
#tbl-users{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 5px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
#tbl-users th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#tbl-users td{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
		
}
#tbl-users tbody tr:hover td{
	color: #009;
}

/*
//---------------------------------
//  send access emails
//---------------------------------
*/

#sendAM,#delAM{
	width:600px;
	margin:0 auto;
	margin-top:100px;
}
#sendAM textarea{
	width:100%;
	height:200px;
	outline:none;
}

/*
//---------------------------------
//  delete access emails
//---------------------------------
*/

#txtDelAm{width:100%;}
#BtnDelAm{
	width: 110px;
	height: 30px;
	padding: 2px 0;
	outline: none;
	font-size: 13px;
	font-weight:bold;
	margin-top:4px;
}

#addESHost{width:400px;}