/* ===PRIMARY LAYOUT=== */

html { 
			font-size:100%;  /*IE5/6*/ 
}
body {
			font-size: 1em; 
			font-family: Verdana, Helvetica, Arial, sans-serif ;  /*Trebuchet*/
			
			position:relative;
			min-height:416px;  /* min.height body elementa (iphone(hvga):320x480*/
			background:url(../images/background.png), url(../images/menutouched.png) no-repeat;
			margin:0;
			/*
			margin:0; //reset.css	
			font-family:helvetica,sans-serif;
			background:url("../images/background.png"),url('../images/menutouched.png') no-repeat;	
			-webkit-text-size-adjust:none;
			-webkit-touch-callout:none;
			*/
}

#topbar{
			position:relative;
			left:0;top:0;
			height:44px;
			width:auto;
			margin-bottom:13px;
			background:url(../images/header.png) repeat;			
}

#title{
			position:absolute;
			top:0;left:0;right:0;
			padding:0 10px;
			text-align:center;
			text-overflow:ellipsis;
			white-space:nowrap;
			overflow:hidden;
			height:44px;
			line-height:44px;
			font-weight:bold;
			color:#FFF;
			text-shadow:rgba(0,0,0,0.6) 0 -1px 0;
			font-size:16pt;
}

img { border:0; }

#testiranje{
	width:100%;
	position:relative;
	margin-top:10px;
	height:auto;
	z-index:0;
	overflow:hidden;
	
}

#content{
	width:100%;
	position:relative;
	min-height:250px;
	margin-top:10px;
	height:auto;
	z-index:0;
	overflow:hidden;
}
.pageitem{
	/*-webkit-border-radius:8px;*/
	background-color:#fff;
	border:#878787 solid 1px;
	font-size:12pt;
	overflow:hidden;
	padding:0;
	position:relative;
	display:block;
	height:auto;
	width:auto;
	margin:3px 9px 17px;
	list-style:none;
}

.textbox{
	padding:5px 9px;
	position:relative;
	overflow:hidden;
	border-top:1px solid #878787;
}
.header{
	display:block;
	font-weight:bold;
	color:rgb(73,102,145);
	font-size:12pt;
	margin-bottom:6px;
	line-height:14pt;
}
li.menu,li.form{
	position:relative;
	list-style-type:none;
	display:block;
	height:43px;
	overflow:hidden;
	border-top:1px solid #878787;
	width:auto;
}
li.menu a:hover span.name,li.menu a:hover span.comment,li.store:hover .starcomment,li.store:hover .name,li.store:hover .comment,body.list li.withimage a:hover .comment{
	color:#fff;
}
li.menu a img{
	width:auto;
	height:32px;
	margin:5px 0 0 5px;
	float:left;
}
li.menu span.name{
	margin:11px 0 0 7px;
	width:auto;
	color:#000;
	font-weight:bold;
	font-size:17px;
	text-overflow:ellipsis;
	overflow:hidden;
	max-width:75%;
	white-space:nowrap;
	float:left;
}
a:hover span.arrow{
	background-position:0 -13px!important;
}
.graytitle{
	position:relative;
	font-weight:bold;
	font-size:17px;
	right:20px;
	left:9px;
	color:#4C4C4C;
	text-shadow:#FFF 0 1px 0;
	padding:1px 0 3px 8px;
}
li.menu,li.form{
	position:relative;
	list-style-type:none;
	display:block;
	height:33px;
	overflow:hidden;
	border-top:1px solid #878787;
	width:auto;
}
#leftnav,#leftbutton{
	position:absolute;
	font-size:12px;
	left:9px;
	top:7px;
	font-weight:bold
}
#leftnav,#leftbutton,#rightnav,#rightbutton{
	z-index:5000;
}
#leftnav a,#rightnav a,#leftbutton a,#rightbutton a{
	display:block;
	color:#fff;
	text-shadow:rgba(0,0,0,0.6) 0 -1px 0;
	line-height:30px;
	height:30px;
	text-decoration:none;
}
#leftnav img,#rightnav img{
	margin-top:4px;
}
#leftnav a:first-child{
	z-index:2;
	-webkit-border-image:url("../images/navleft.png") 0 5 0 13;
	border-width:0 5px 0 13px;
	-webkit-border-top-left-radius:16px;
	-webkit-border-bottom-left-radius:16px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	width:auto;
}
#leftnav a{
	-webkit-border-image:url("../images/navlinkleft.png") 0 5 0 13;
	z-index:3;
	margin-left:-4px;
	border-width:0 5px 0 13px;
	padding-right:4px;
	-webkit-border-top-left-radius:16px;
	-webkit-border-bottom-left-radius:16px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	float:left;
}
#rightnav,#rightbutton{
	position:absolute;
	font-size:12px;
	right:9px;
	top:7px;
	font-weight:bold;
}
#rightnav a{
	-webkit-border-image:url("../images/navlinkright.png") 0 13 0 5;
	z-index:3;
	margin-right:-4px;
	border-width:0 13px 0 5px;
	padding-left:4px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	float:right;
	-webkit-border-top-right-radius:16px;
	-webkit-border-bottom-right-radius:16px;
}
#rightnav a:first-child{
	z-index:2;
	-webkit-border-top-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-image:url("../images/navright.png") 0 13 0 5;
	border-width:0 13px 0 5px;
	-webkit-border-top-right-radius:16px;
	-webkit-border-bottom-right-radius:16px;
}
#leftbutton a,#rightbutton a{
	-webkit-border-image:url("../images/navbutton.png") 0 5 0 5;
	border-width:0 5px;
	-webkit-border-radius:6px;
}