/*<!--body{
	background:#000!important;
}-->*/

/*  ---------------------------------------------------
 *   AJAX PRELOADER 
 *  --------------------------------------------------*/
#loading img {
position: absolute !important;
left: 50% !important;
top: 50% !important;
margin-top: -17.5px !important; /* half image height */
margin-left: -17.5px !important; /* half image width */
}

/*  999999999999999999999 */
.albumtitle {
	display:block;position: relative;
	margin:0 auto;width:100%; /*################*/
	text-align:center!important;color:#FFF;
	font-size:15px;font-style:italic;
	font-family: Helvetica, Arial, sans-serif;
}
#title{ font-size:15px;}
/* //////////////////////////////////////////////////////
						IUIUKIT
//////////////////////////////////////////////////////// */
#grid ul { 
  color: black;
  background: #000; /*F*/
  border: 1px solid #B4B4B4;
  font: bold 17px Helvetica;
  padding: 0;	   
  margin: 15px 10px 17px 0;
  -webkit-border-radius: 8px;
  margin-top:11px!important;
}
#grid ul li {
  color: #666;
  border-top: 1px solid #B4B4B4;
  list-style-type: none;	
}
body#grid {
  background:#000000!important;
  margin: 0;
}
body#grid ul {
  margin: 4px 4px 4px 0;
  border: 0;
  -webkit-border-radius: 0;
}
body#grid ul li {
  border: 1px solid #505050; 
  -webkit-border-radius: 0;
  width: 73px !important; 
  height: 73px !important; 
  float: left;
  margin: 0 0 4px 4px;
  padding: 0;
}
body#grid ul li a {
  display: block;
  width: 100%; 
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align:middle;    
  background-color:#000000; 
}
/* //////////////////////////////////////////////////////
						IWEBKIT
//////////////////////////////////////////////////////// */
.center {
	margin: auto;
	display: block;
	text-align: center!important;
}
@media screen and (max-width: 320px)
{
	#topbar {
		height: 44px;
	}
	#title {
		line-height: 44px;
		height: 44px;
		font-size: 16pt;
	}
	#leftnav a, #rightnav a, #leftbutton a, #rightbutton a, #blueleftbutton a, #bluerightbutton a {
		line-height: 30px;
		height: 30px;
	}
	#leftnav img, #rightnav img {margin-top: 4px;}
	#leftnav, #leftbutton, #blueleftbutton {top: 7px;}
	#rightnav, #rightbutton, #bluerightbutton {top: 7px;}
}
@media screen and (min-width: 321px)
{
	#topbar {height: 32px;}
	#title {
		line-height: 32px;
		height: 32px;
		font-size: 13pt;
	}
	#leftnav a, #rightnav a, #leftbutton a, #rightbutton a, #blueleftbutton a, #bluerightbutton a {
		line-height: 24px;
		height: 24px;
	}
	#leftnav img, #rightnav img {
		margin-top: 4px;
		height: 70%;
	}
	#leftnav, #leftbutton, #blueleftbutton {top: 4px;}
	#rightnav, #rightbutton, #bluerightbutton {top: 4px;}
}
#topbar.black {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#858585), color-stop(3%, #636363), color-stop(50%, #202020), color-stop(51%, black), color-stop(97%, black), to(#262626));
}
#topbar.transparent {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(133,133,133,0.7)), color-stop(3%, rgba(99,99,99,0.7)), color-stop(50%, rgba(32,32,32,0.7)), color-stop(51%, rgba(0,0,0,0.7)), color-stop(97%, rgba(0,0,0,0.7)), to(rgba(38,38,38,0.7)));
}
#topbar {
	width: auto;
	position: relative;
	left: 0;
	top: 0;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cdd5df), color-stop(3%, #b0bccd), color-stop(50%, #889bb3), color-stop(51%, #8195af), color-stop(97%, #6d84a2), to(#2d3642));
	margin-bottom: 0px;
	font-family: Helvetica, Arial, sans-serif;
}
#title {
	position: absolute;
	font-weight: bold;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 10px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #FFF;
	text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
}
#content {
	width: 100%;
	position: relative;
	min-height: 250px;
	height: auto;
	z-index: 0;
	overflow: hidden;
}
#footer {
	text-align: center;
	position: relative;
	margin: 20px 10px 0;
	height: auto;
	width: auto;
	bottom: 10px;
}
#footer a, #footer {
	text-decoration: none;
	font-size: 9pt;
	color: #4C4C4C;
	text-shadow: #FFF 0 1px 0;
}
.graytitle {
	position: relative;
	font-weight: bold;
	font-size: 17px;
	right: 20px;
	left: 9px;
	color: #4C4C4C;
	text-shadow: #FFF 0 1px 0;
	padding: 1px 0 3px 8px;
	font-family: Helvetica, Arial, sans-serif
}
.header {
	display: block;
	font-weight: bold;
	color: rgb(73,102,145);
	font-size: 12pt;
	margin-bottom: 6px;
	line-height: 14pt;
}
#leftnav, #leftbutton, #blueleftbutton {
	position: absolute;
	font-size: 12px;
	left: 9px;
	font-weight: bold;
}
#leftnav, #leftbutton, #rightnav, #rightbutton, #blueleftbutton, #bluerightbutton {
	z-index: 5000;
}
#leftnav a, #rightnav a, #leftbutton a, #rightbutton a, #blueleftbutton a, #bluerightbutton a {
	display: block;
	color: #fff;
	text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
	text-decoration: none;
}
.black #leftnav a:first-child, .transparent #leftnav a:first-child {
	-webkit-border-image: url("../../assets/images/iwebkit/navleftblack.png") 0 5 0 13;
}
.black #leftnav a, .transparent #leftnav a {
	-webkit-border-image: url("../../assets/images/iwebkit/navlinkleftblack.png") 0 5 0 13;
}
.black #rightnav a:first-child, .transparent #rightnav a:first-child {
	-webkit-border-image: url("../../assets/images/iwebkit/navrightblack.png") 0 13 0 5;
}
.black #rightnav a, .transparent #rightnav a {
	-webkit-border-image: url("../../assets/images/iwebkit/navlinkrightblack.png") 0 13 0 5;
}
.black #leftbutton a, .black #rightbutton a, .transparent #leftbutton a, .transparent #rightbutton a {
	-webkit-border-image: url("../../assets/images/iwebkit/navbuttonblack.png") 0 5 0 5;
}
#leftnav a:first-child {
	z-index: 2;
	-webkit-border-image: url("../../assets/images/iwebkit/navleft.png") 0 5 0 13;
	border-width: 0 5px 0 13px;
	-webkit-border-top-left-radius: 16px;
	-webkit-border-bottom-left-radius: 16px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	width: auto;
}
#leftnav a {
	-webkit-border-image: url("../../assets/images/iwebkit/navlinkleft.png") 0 5 0 13;
	z-index: 3;
	margin-left: -4px;
	border-width: 0 5px 0 13px;
	padding-right: 4px;
	-webkit-border-top-left-radius: 16px;
	-webkit-border-bottom-left-radius: 16px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	float: left;
}
#rightnav, #rightbutton, #bluerightbutton {
	position: absolute;
	font-size: 12px;
	right: 9px;
	font-weight: bold;
}
#rightnav a {
	-webkit-border-image: url("../../assets/images/iwebkit/navlinkright.png") 0 13 0 5;
	z-index: 3;
	margin-right: -4px;
	border-width: 0 13px 0 5px;
	padding-left: 4px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	float: right;
	-webkit-border-top-right-radius: 16px;
	-webkit-border-bottom-right-radius: 16px;
}
#rightnav a:first-child {
	z-index: 2;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-image: url("../../assets/images/iwebkit/navright.png") 0 13 0 5;
	border-width: 0 13px 0 5px;
	-webkit-border-top-right-radius: 16px;
	-webkit-border-bottom-right-radius: 16px;
}
#leftbutton a, #rightbutton a {
	-webkit-border-image: url("../../assets/images/iwebkit/navbutton.png") 0 5 0 5;
	border-width: 0 5px;
	-webkit-border-radius: 6px;
}
#blueleftbutton a, #bluerightbutton a {
	-webkit-border-image: url("../../assets/images/iwebkit/navbuttonblue.png") 0 5 0 5;
	border-width: 0 5px;
	-webkit-border-radius: 6px;
}