/*iphone portrait*/
@media screen and (max-width: 320px) 
{ 
	#content {height: 380px;}
}
/*iphone landscape*/
@media screen and (min-width: 321px) and (max-width:480px) 
{ 
	#content {height: 280px;}
}

/*ipad portrait*/
@media screen and (min-width: 768px) and (max-height: 1024px) 
{ 
	#content {height: 394px;}
} 
/*ipad landscape*/
@media screen and (min-width: 1024px) and (max-height: 768px) 
{
	#content {height: 728px;}
}

/*  ---------------------------------------------------
 *   Header & Footer
 *  --------------------------------------------------*/
#topbar {
	margin-bottom:0px !important;
}

#topbar.black {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#858585), 
		color-stop(0, rgb(106,137,156)),
		color-stop(0.03, rgb(22,80,118)),
		color-stop(0.5, rgb(9,32,47)),
		color-stop(0.51, rgb(9,32,47)),
		color-stop(0.97, rgb(9,32,47)),
		color-stop(1, rgb(38,38,38))
		);
}
#content {
	height: 380px;
	background:url(../../assets/images/PooltableBlue256.jpg) 50% repeat; 
}
#bigcontainer {
	height: 100%;
	background:url(../../assets/images/PooltableBlue256.jpg) 50% repeat; 
	}

.menu:hover{color:black;}
.menu a:hover .name{color:black;}
.menu .name {text-align:center;float: left;margin:11px 0 0 86px;padding-left:10px;padding-right:10px;}
.menu .arrow, .list .arrow {background: url(../../assets/images/iwebkit/arrow2.png) 0 0 no-repeat !important;}
   
body {
	background-color: #0F3650;
	-webkit-background-size: 256px 256px;	
	background:url(../../assets/images/PooltableBlue256.jpg) 50% repeat;
}
#title {
	background:url(../../assets/images/everPics_TitleBar.png) 50% no-repeat;
	font-size:15px;
	border-bottom: 1px solid #14496B;
}
#footer a {
	color: white; text-shadow: none;
}
#footer {
	position: relative;
	height: 10px;
	margin-top:16px;
	background:url(../../assets/images/PooltableBlue256.jpg) 50% repeat; 
}

#epform{ margin: 15px 10px 0px !important; }	
p#correct{
		display:block!important;
		margin:0; padding:0; border:0;
		margin-left: 3px!important;
		margin-right:3px!important;  
	}

.graytitle{
	color: white; 
	text-shadow: none; 
	float:left;	
	padding: 1px 0px 4px;
	text-align: left;
	font-family: Helvetica, Arial, sans-serif
}

   /***** BUTTONS *****/
   p.down { margin: 0px 10px !important; }
	
	.entry
	{
	  border-top-left-radius:7px 7px;border-top-right-radius:7px 7px;
	  border-bottom-left-radius:7px 7px;border-bottom-right-radius:7px 7px;	
	  background-color:#DBDFE0;	
	  font: normal normal normal 18px/36px Helvetica;
	  text-indent:8px;	
	  width: 100% !important;
	  border:0!important;
	  padding:0!important;	
	  /*-webkit-appearance: none;background: transparent;height: 100%;*/
	}
	  .button {
		  color: #FFF;
		  font: normal normal bold 20px/46px Helvetica;
		  text-decoration: none;
		  text-align: center;
		  text-shadow: #000 0 1px 0;
		  border-width: 0px 14px;
		  display: block;
		  margin: 3px 0;
		  width: auto !important;
		  }
	  	  .green {-webkit-border-image: url(../../assets/images/greenButton.png) 0 14 0 14; }
  
  #bottomback {
     position: absolute;
	 left: 0px;
	 top: 50%;
	 width:100%; 
	 height:50%;
	 z-index:1;
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(23,32,45)), to(rgb(32,47,68)))!important;
	 -webkit-background-size: 100%; 
	}

  #bottomline {
     position: absolute;
	 left: 0px;
	 top: 60%;
	 width:100%; 
	 z-index:2;
	 background: url(../../assets/images/RedLine.png) repeat-x;
	 -webkit-background-size: 100%; 
	}

	
  #bottomform {
	   width:100%; 
	   height:auto;				        
	   position: relative;
	   top: 53px;
	   z-index: 1;
	   -webkit-transform-style: preserve-3d;
  }

  #message {
	   width:100%; 
	   height:100%;				        
	   position: relative;
	   top: 50px;
	   -webkit-transform-style: preserve-3d;
	   background: url(../../assets/images/eMessage_LR.png) 50% no-repeat;
  }

/*  ---------------------------------------------------
 *   ANIMATED LOGO
 *  --------------------------------------------------*/
#front img {
	padding:1px;
	border:none;
}
#front {
	border:0;padding:0; 
	margin:20px auto;
	margin-bottom:30px;
	text-align:center; 
		
	-webkit-perspective: 600; /* For compatibility with iPhone 3.0, we leave off the units here */
    -webkit-perspective-origin: 50% 140px;
}
#logo {
    width:100%; 
	height:100%;
}	  

@-webkit-keyframes splash 
{
 0% {
	 opacity: 1.0;
	 z-index:30;
 	}
 50% {
	 opacity: 1.0;
	 z-index:30;
	 }
50.1% {
	 z-index:-20;
	 opacity: 0.0;
	 }
 
 100% {
	 z-index:-20;
	 opacity: 0.0;
 	}
}	  

#splash {
     position: absolute;
	 left: 0px;
	 top: 0px;
	 width:100%; 
	 height:100%;
	 z-index:-20;
	 opacity: 0.0;
						
	 /*  -webkit-perspective: 500px; */
	-webkit-animation-name: splash; 
	-webkit-animation-duration: 0.5s; 
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;  
	-webkit-animation-direction: normal; 
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	background:url(../../assets/images/StartupImage.png) no-repeat; 
	}
	
@-webkit-keyframes topcover {
 0% {
   opacity: 0.0;
 }
 100% {
   opacity: 0.0;
 }
}	  

#topcover {
     position: absolute;
     left: 0px;
 	 top: 0%;
	 width:100%; 
	 height:50%;
	 z-index:-9;
	 opacity: 0.0;
						
	 /*  -webkit-perspective: 500px; */
	-webkit-animation-name: topcover; 
	-webkit-animation-duration: 1s; 
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;  
	-webkit-animation-direction: normal;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	background:url(../../assets/images/PooltableBlue256.jpg) 0 repeat;
}

@-webkit-keyframes logotitle {
 0% {
   opacity: 1.0;
   -webkit-transform: rotateX(0deg) translateZ(0px);
 }
 25% {
   opacity: 1.0;
   -webkit-transform: rotateX(0deg) translateZ(0px);
 }
 50% {
   opacity: 1.0;
	 -webkit-transform: rotateX(0deg) translateY(130px);
 }
 100% {
   opacity: 1.0;
	 -webkit-transform: rotateX(0deg) translateY(130px);
 }
}	  

#logotitle {
     width:100%; 
 	 height:100%;				        
	 position: absolute;
	 left: 0px;
	 top: -176px;
	 z-index: 12;
	 background:url(../../assets/images/everPICs_Text_LR.png) 50% no-repeat;

	 -webkit-transform-style: preserve-3d;
 	  /* -webkit-perspective: 500px; */
	 -webkit-animation-name: logotitle; 
	 -webkit-animation-duration: 4s; 
	 -webkit-animation-iteration-count: 1;
	 -webkit-animation-timing-function: ease-in-out;  
	 -webkit-animation-direction: normal;
	 -webkit-transform: rotateX(0deg) translateY(130px); 
}

@-webkit-keyframes bottomcover {
 0% {
 	 top: 50%;
 }
 50% {
 	 top: 50%;
 }
 60% {
 	 top: 150%;
 }
 
 100% {
 	 top: 150%;
 }
}	  

#bottomcover {
     position: absolute;
     left: 0px;
 	 top: 150%;
	 width:100%; 
	 height:50%;
	 z-index:10;
	 opacity: 1.0;
						
	 /*  -webkit-perspective: 500px; */
	-webkit-animation-name: bottomcover; 
	-webkit-animation-duration: 10s; 
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;  
	-webkit-animation-direction: normal; 
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	color: #f00;
	background-color: #F00;
	background:url(../../assets/images/PooltableBlue256.jpg) 50% repeat; 
	
}
/*@-webkit-keyframes earth {
 0% {
   opacity: 0.0;
   -webkit-transform: rotatex(270deg);  
 }
 20% {
   opacity: 1.0;
   background:url(../../assets/images/LA_Earth.png) 50% no-repeat;
   -webkit-transform: rotatex(270deg);  
 }
 80% {
   opacity: 1.0;
   background:url(../../assets/images/LA_Earth.png) 50% no-repeat;
   -webkit-transform: rotatex(180deg);  

   }
}	  
*/
/*#earth {
    position: relative;
    left: 0px;
	top: 0px;
	width:100%; 
	height:100%;
						

	-webkit-animation-name: earth; 
	-webkit-animation-duration: 2s; 
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;  
	-webkit-animation-direction: normal;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	background:url(../../assets/images/LA_Earth.png) 50% no-repeat;
}*/
	  
  
@-webkit-keyframes logodisk {
 0% {
   opacity: 1.0;
   -webkit-transform: rotatex(90deg);  
 }
40% {
   opacity: 1.0;
   background:url(../../assets/images/LA_Disk.png) 50% no-repeat;
   -webkit-transform: rotatex(90deg);  
 }
 60% {
   opacity: 1.0;
   background:url(../../assets/images/LA_Disk.png) 50% no-repeat;
   -webkit-transform: rotatex(0deg);  
   }
 100% {
   opacity: 1.0;
   background:url(../../assets/images/LA_Disk.png) 50% no-repeat;
   -webkit-transform: rotatex(0deg); 
	/* -webkit-transform: translate3d(0px, 0px, -100px);   */
   }
}	  

#logodisk {
    position: relative;
    left: 0px;
	top: 0px;
	width:100%; 
	height:100%;
						
    /* -webkit-perspective: 50px; */
	-webkit-animation-name: logodisk; 
	-webkit-animation-duration: 5s; 
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;  
	-webkit-animation-direction: normal;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	background:url(../../assets/images/LA_Disk.png) 50% no-repeat;
	/* -webkit-transform: translate3d(0px, 0px, -100px);   */
}

@-webkit-keyframes logopics {
 0% {
   opacity: 0.0;
   -webkit-transform: scale3d(0,0,0);
 }
 80% {
   opacity: 0.0;
   background:url(../../assets/images/LA_Pics.png) 50% no-repeat;
   -webkit-transform: scale3d(0,0,0);
 }
 100% {
   opacity: 1.0;
   background:url(../../assets/images/LA_Pics.png) 50% no-repeat;
   -webkit-transform: scale3d(1,1,1);
 }
}	  

#logopics {
     position: relative;
     left: 0px;
 	 top: -114px;
	 width:100%; 
	 height:100%;
						
	 /*  -webkit-perspective: 500px; */
	-webkit-animation-name: logopics; 
	-webkit-animation-duration: 5s; 
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;  
	-webkit-animation-direction: normal;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	background:url(../../assets/images/LA_Pics.png) 50% no-repeat;
}

/*@-webkit-keyframes everOLD {
 0% {
   opacity: 1.0;
   -webkit-transform: rotateX(90deg) translateZ(100px);
 }
 20% {
   opacity: 1.0;
   -webkit-transform: rotateX(90deg) translateZ(100px);
 }
 80% {
   opacity: 1.0;
   -webkit-transform: rotateX(0deg) translateZ(100px);
 }
 100% {
   opacity: 1.0;
   -webkit-transform: rotateX(0deg) translateZ(100px);
 }
}	  */

@-webkit-keyframes ever {
 0% {
   opacity: 0.0;
   left: -77px;
   top: 34px;
   -webkit-transform: scale(0.79);
 }
 40% {
   opacity: 0.0;
   left: -77px;
   top: 34px;
   -webkit-transform: scale(0.79);
 }
 60% {
   opacity: 1.0;
   left: -77px;
   top: 34px;
   -webkit-transform: scale(0.79);

 }
 80% {
   opacity: 1.0;
	 left: 0px;
	 top: -150px; 
   -webkit-transform: scale(1);
	 background:url(../../assets/images/LA_Ever.png) 49% 64% no-repeat;
	 }
 100% {
   opacity: 1.0;
	 left: 0px;
	 top: -150px; 
   -webkit-transform: scale(1);
	 background:url(../../assets/images/LA_Ever.png) 49% 64% no-repeat;
   }
}	

#ever {
     width:100%; 
 	 height:100%;				        
	 position: absolute;
	 left: 0px;
	 top: -150px; 
	 z-index: 20;
	 background:url(../../assets/images/LA_Ever.png) 49% 64% no-repeat;
	 /*<!-- background-position: 45% 100%; -->*/

	 -webkit-transform-style: preserve-3d;
 	  /* -webkit-perspective: 500px; */
	  -webkit-animation-name: ever; 
	 -webkit-animation-duration: 5s; 
	 -webkit-animation-iteration-count: 1;
	 -webkit-animation-timing-function: ease-in-out;  
	 -webkit-animation-direction: normal;
	 /*<!-- -webkit-transform: rotateX(0deg) translateZ(100px); -->*/
}
