body{background:#333;font-family: "Courier New", Courier, monospace;color: white;}
#wrapper{
	width: 900px;
	margin: 20px auto
}
#header{
	text-align:center;
}
#header > h2{
	font-family:"Courier New", Courier, monospace;
	margin:0;
}
#content{
	width:900px;
	height:800px;
	margin-top:20px;
}
#content_R{
	margin-left: 60px;
}
#content_R p.getpost{
	float: left;
	padding: 0;
	margin: 0;
	max-width: 20%;
}
#content_R #selectApi{
	margin-left: 30px;
	min-width: 68%;
}
#url{
	clear:both;
	width:900px;
}
#url input{
	width:90%;
	padding-left: 1px;
}
#postInput{}
#postInput textarea{
	width:90%;
	min-height:150px;
	max-height:500px;
	font-family: monospace;
	font-weight:bold;
	resize:vertical;
}
#postInput textarea.disableme{
	background-image:url("../img/stripes.png");
	background-repeat:repeat;
}


#btnSend{
	width: 125px;
	padding: 4px 3px 4px 3px;
	line-height: 20px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 60px;
	margin-top: 5px;
}
#response{
	margin-top:20px;
}
#output{
	width:900px;	
	margin:0 auto;
	text-align: center;
}
#output textarea{
	width:95%;
	min-height:400px;
	max-height:1000px;
	resize:vertical;	
}
#responseActions{	
}
#responseActions a{	
	color:white;
	font-family: "Courier New", Courier, monospace;
	font-size:14px;
	margin-left:20px;
	text-decoration:none;
}
#responseActions a:hover{
	color:#FF7837;
}
#newpage{
	float: right;
	position: relative;
	right: 20px;
	top: -6px;	
}
#resetGui{
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	text-decoration: none;
	float: right;
	position: relative;
	top: 20px;
}

#importAuth{
	color:white;
	text-decoration:none;	
}
#importAuth:hover{
	text-decoration:underline;
}