body{
	background:#333;color: white;
}
#wrapper{
	margin: 30px;
}
input{
	padding-left:4px;
}
#txt_unregistersmtpaccount,#txt_registersmtpaccount,#txt_fromEmail,#txt_toEmail,#txt_subjectEmail,#txt_checkMailStatus,#txt_strEmail,#txt_strServerAddress,#txt_strUserName,#txt_strPassword,#txt_strBCCAddressForSentMailCopy{
	width:300px;
}
#txt_nPort{
	width:70px;	
}
#txt_lstCC,#txt_lstBC{
	width:250px;	
	background-color: #7F7F7F;
	color: white;
}
button{
	background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding: 5px 10px;
	color: white;
	font-family: 'Helvetica Neue',sans-serif;
	font-size: 14px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #1A87B9;
}
#btn_isRegistered{
	margin-left:15px;
}
#btn_readEmails{
	margin-left:5px;
}
#txt_isRegistered,#txt_Password{
	width:320px;
}
#headerlist{
	padding-left: 0;
	margin-left: 0;
}
#headerlist li{
	list-style: none;
	margin: 0;
	padding: 0.25em;
	border-top: 1px solid #515151;	
}
#headerlist li a { 
	text-decoration: none;
	/*color:#FFF; */
}
#headerlist li a:hover { 
	text-decoration:underline;
}
.colr{
	color:#4DC5FF;
}

#area_bodyEmail{
	width: 85%;
	min-height: 400px;
	max-height: 1000px;
	resize: vertical;		
}
#btn_sendEmail{
	padding: 5px 15px;
}
#responseid,#txt_checkMailStatus_ID{
	width: 150px;
	margin-left: 5px;
	font-weight:bold;
}


#bUseLocalServer
{
    width: 15px;
    height: 15px;
    float: left;
}
#labelUseLocalServer
{
    float: left;
    padding-left: 3px;
	color:#C0C0C0;
}
.clear{
	clear:both;	
}