/* ----------------------------------------------------------- 
				Central/General Styles
------------------------------------------------------------ */
#footer{
	/*border-top:1px solid rgba(130, 130, 130, .3);*/
	width: 60%;
	text-align: center;
	margin: 20px auto 0 auto;
	padding-top:5px;
}
#footer a {
	text-decoration: none;
	font:bold 12px Helvetica,Arial,sans-serif;
	/* color: #4C4C4C;
	text-shadow: white 0 1px 0; */
	color: white;
	text-shadow: 0px -1px 2px black;
	cursor: auto;
}

/* used to prevent white page flash */
/* hides some wanted elements -> removed */
/* .ui-page {
     -webkit-backface-visibility: hidden;  
} */
	
.ui-header {
	width: 100%;
	z-index: 2;
}

/* PM */
.ui-header .ui-title, .ui-footer .ui-title {
	margin: .6em 10% .8em;
}


/* Make content scrollable */
.ui-content {
	/*margin-top: 5px;*/
	z-index: 1;
}

/* Make header fixed for selected windows */
.sc-fixed-header  {
	position: fixed!important; 
	width: 100%;
	z-index: 2;
}
/* Make content scrollable */
.sc-fixed-content {
	position: static!important;
	-webkit-overflow-scrolling: touch!important; 
	margin-top: 42px;
	z-index: 1;
}


/* Background Lightness level 2 */
.ui-body-c, .ui-overlay-c {
	text-decoration: none;
	color: white;
	text-shadow: 0px -1px 2px black;
	/* background-image: url("../images/ln_c2.png");
	   background-repeat: repeat;
	*/
	
	/*background-color: rgb(101,107,111)!important;*/
	background-color: rgb(110,127,130)!important;
	background-repeat: repeat;

}
.ui-body-b, .ui-overlay-b {
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.4, rgba(232,232,246, 0)), color-stop(1, rgba(32, 32, 48, 0.6)) ) )!important;
	background-color: rgb(101,107,111)!important;
	background-repeat: repeat;	
	
	/*
	background-image: url("../images/ln_c2.png");	
	background-repeat: repeat;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.4, rgba(232,232,246, 0)), color-stop(1, rgba(32, 32, 48, 0.6)) ) , url("../images/ln_c2.png");
	background-color: rgb(240,240,240);*/
	/*background-repeat: no-repeat, repeat;*/
	color: white;
	text-shadow: 0px -1px 2px black;
}

/* Entry Field Background Lightness level 3 */
input.ui-input-text, textarea.ui-input-text {
/*	background-image: url("../images/ln_c3.png");
	background-repeat: repeat;
	*/
	background-color: rgb(110,127,130)!important;
}

/* Focused+Selected List Elements Lightness level 4 */
.ui-focus, ui-btn:focus {
	/* background-image: url("../images/ln_c4.png")!important; */
	
	background-color: rgb(110,127,130)!important;
	/*background-color: rgb(101,107,111)!important;*/
	/*-webkit-box-shadow: 0 0 8px white;
	-box-shadow: 0 0 8px white;	*/
}
/*
.ui-shadow-inset {
-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.9);
-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .9);
box-shadow: inset 0 1px 4px rgba(0, 0, 0, .9);
}*/

.ui-listview-inset {

-moz-box-shadow: none!important;
-webkit-box-shadow: none!important;
box-shadow: none!important;
border: none;
border-right-width: 1px!important;
border-right-style: solid!important;
border-right-color: rgba(192,192,192,0.4)!important;
border-bottom-width: 1px!important;
border-bottom-style: solid!important;
border-bottom-color: rgba(192,192,192,0.4)!important;
border-left-width: 1px!important;
border-left-style: solid!important;
border-left-color: rgba(0,0,0,0.4)!important;
border-top-width: 1px!important;
border-top-style: solid!important;
border-top-color: rgba(0,0,0,0.4)!important;
}

/* List Elements: Gradient + Lightness level 3 */
.ui-li, .ui-li-static {
	border: none;
	color: white;
	text-shadow: 0 -1px 1px black;

	background-color:: rgb(120,127,130)!important;
	background-repeat: no-repeat;
	background-image: -webkit-gradient( linear, left bottom, left top, 
										color-stop(0, rgba(0,0,0, 0.4)), 
										color-stop(0.05, rgba(0,0,0, 0.4)), 
										color-stop(0.05, rgba(0,0,0, 0)), 
										color-stop(0.95, rgba(255, 255, 255, 0)), 
										color-stop(0.95, rgba(255, 255, 255, 0.1)), 
										color-stop(1, rgba(255, 255, 255, 0.4)) );

	background-image: -moz-linear-gradient( bottom,  
										rgba(0,0,0, 0.4) 0%, 
										rgba(0,0,0, 0.4) 5%, 
										rgba(0,0,0, 0) 5%, 
										rgba(255, 255, 255, 0) 95%, 
										rgba(255, 255, 255, 0.1) 95%, 
										rgba(255, 255, 255, 0.4) 100% ) ;
	background-image: -ms-linear-gradient( bottom,  
										rgba(0,0,0, 0.4) 0%, 
										rgba(0,0,0, 0.4) 5%, 
										rgba(0,0,0, 0) 5%, 
										rgba(255, 255, 255, 0) 95%, 
										rgba(255, 255, 255, 0.1) 95%, 
										rgba(255, 255, 255, 0.4) 100% ) ;
	background-image: -o-linear-gradient( bottom,  
										rgba(0,0,0, 0.4) 0%, 
										rgba(0,0,0, 0.4) 5%, 
										rgba(0,0,0, 0) 5%, 
										rgba(255, 255, 255, 0) 95%, 
										rgba(255, 255, 255, 0.1) 95%, 
										rgba(255, 255, 255, 0.4) 100% ) ;	
					   

	-moz-box-shadow: inset 4px 0px 4px -2px rgba(55, 55, 55, 0.9)!important;
	-webkit-box-shadow: inset 4px 0px 4px -2px rgba(55, 55, 55, 0.9)!important;
	box-shadow: inset 4px 0px 4px -2px rgba(55, 55, 55, 0.9)!important;
}

/* List Elements: large height -> other gradient */
.li-size3 .ui-li, .li-size3 .ui-li-static {
	background-color:: rgb(120,127,130)!important;
	background-repeat: no-repeat;
	background-image: -webkit-gradient( linear, left bottom, left top, 
										color-stop(0, rgba(0,0,0, 0.3)), 
										color-stop(0.02, rgba(0,0,0, 0.3)), 
										color-stop(0.02, rgba(0,0,0, 0)), 
										color-stop(0.98, rgba(255, 255, 255, 0)), 
										color-stop(0.98, rgba(255, 255, 255, 0.1)), 
										color-stop(1, rgba(255, 255, 255, 0.2)) );

	background-image: -moz-linear-gradient( bottom,  
										rgba(0,0,0, 0.3) 0%, 
										rgba(0,0,0, 0.3) 2%, 
										rgba(0,0,0, 0) 2%, 
										rgba(255, 255, 255, 0) 98%, 
										rgba(255, 255, 255, 0.1) 98%, 
										rgba(255, 255, 255, 0.2) 100% ) ;
	background-image: -ms-linear-gradient( bottom,  
										rgba(0,0,0, 0.3) 0%, 
										rgba(0,0,0, 0.3) 2%, 
										rgba(0,0,0, 0) 2%, 
										rgba(255, 255, 255, 0) 98%, 
										rgba(255, 255, 255, 0.1) 98%, 
										rgba(255, 255, 255, 0.2) 100% ) ;
	background-image: -o-linear-gradient( bottom,  
										rgba(0,0,0, 0.3) 0%, 
										rgba(0,0,0, 0.3) 2%, 
										rgba(0,0,0, 0) 2%, 
										rgba(255, 255, 255, 0) 98%, 
										rgba(255, 255, 255, 0.1) 98%, 
										rgba(255, 255, 255, 0.2) 100% ) ;	

	-moz-box-shadow: inset 4px 0px 4px -2px rgba(55, 55, 55, 0.9)!important;
	-webkit-box-shadow: inset 4px 0px 4px -2px rgba(55, 55, 55, 0.9)!important;
	box-shadow: inset 4px 0px 4px -2px rgba(55, 55, 55, 0.9)!important;
}


.ui-corner-top {
	-moz-box-shadow: inset 4px 4px 4px -2px rgba(55, 55, 55, 0.9)!important;
	-webkit-box-shadow: inset 4px 4px 4px -2px rgba(55, 55, 55, 0.9)!important;
	box-shadow: inset 4px 4px 4px -2px rgba(55, 55, 55, 0.9)!important;


}
.ui-li-divider {
	font:bold 17px Helvetica,Arial,sans-serif;
-moz-box-shadow: inset 4px 4px 4px -2px rgba(55, 55, 55, 0.9)!important;
-webkit-box-shadow: inset 4px 4px 4px -2px rgba(55, 55, 55, 0.9)!important;
box-shadow: inset 4px 4px 4px -2px rgba(55, 55, 55, 0.9)!important;

	background-color:: rgb(101,107,100)!important;
	background-image: -webkit-gradient( linear, left bottom, left top, 
										color-stop(0, rgba(0,0,0, 0.5)), 
										color-stop(0.05, rgba(0,0,0, 0.5)), 
										color-stop(0.05, rgba(0,0,0, 0)), 
										color-stop(0.95, rgba(255, 255, 255, 0)), 
										color-stop(0.95, rgba(255, 255, 255, 0)), 
										color-stop(1, rgba(255, 255, 255, 0)) )!important ;
	background-image: -moz-linear-gradient( bottom,  
										rgba(0,0,0, 0.5) 0%, 
										rgba(0,0,0, 0.5) 5%, 
										rgba(0,0,0, 0) 5%, 
										rgba(255, 255, 255, 0) 95%, 
										rgba(255, 255, 255, 0) 95%, 
										rgba(255, 255, 255, 0) 100% ) ;
	background-image: -ms-linear-gradient( bottom,  
										rgba(0,0,0, 0.5) 0%, 
										rgba(0,0,0, 0.5) 5%, 
										rgba(0,0,0, 0) 5%, 
										rgba(255, 255, 255, 0) 95%, 
										rgba(255, 255, 255, 0) 95%, 
										rgba(255, 255, 255, 0) 100% ) ;
	background-image: -o-linear-gradient( bottom,  
										rgba(0,0,0, 0.5) 0%, 
										rgba(0,0,0, 0.5) 5%, 
										rgba(0,0,0, 0) 5%, 
										rgba(255, 255, 255, 0) 95%, 
										rgba(255, 255, 255, 0) 95%, 
										rgba(255, 255, 255, 0) 100% ) ;	
					   
	background-repeat: no-repeat;

}

 .ui-corner-bottom {
/*	border-bottom-left-radius: 9px!important;
	border-bottom-right-radius: 9px!important;
	-webkit-border-bottom-left-radius: 9px!important;
	-webkit-border-bottom-right-radius: 9px!important;
	*/
/*	background-image: url("../images/ln_c3.png");
	background-repeat: repeat;	
	background-image: -webkit-gradient( linear, left bottom, left top, 
										color-stop(0, rgba(255,255,255, 0.4)), 
										color-stop(0.02, rgba(255,255,255, 0.4)), 
										color-stop(0.02, rgba(0,0,0, 0.4)), 
										color-stop(0.05, rgba(0,0,0, 0.4)), 
										color-stop(0.05, rgba(255,255,255, 0)), 
										color-stop(0.95, rgba(255, 255, 255, 0)), 
										color-stop(0.95, rgba(255, 255, 255, 0.1)), 
										color-stop(1, rgba(192, 192, 192, 0.4)) ) , 
										url("../images/ln_c3.png");
	background-repeat: no-repeat, repeat;	
*/
}
.ui-corner-bottom .ui-btn-inner  {
	border-bottom-left-radius: 9px!important;
	border-bottom-right-radius: 9px!important;
	-webkit-border-bottom-left-radius: 9px!important;
	-webkit-border-bottom-right-radius: 9px!important;
	
}

.ui-btn-up-c a.ui-link-inherit {
	color: white;
}

.ui-btn-hover-c a.ui-link-inherit {
	color: #f0e97f;
/*	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgba(0,0,0, 0.7)), color-stop(0.05, rgba(0,0,0, 0.7)), color-stop(0.05, rgba(0,0,0, 0)), color-stop(0.9, rgba(255, 255, 255, 0)), color-stop(0.9, rgba(255, 255, 255, 0.1)), color-stop(1, rgba(255, 255, 255, 0.8)) ) , url("../images/ln_c4.png")!important;
	background-repeat: no-repeat, repeat!important;	
	*/
/*	background-image: -webkit-gradient( linear, left bottom, left top, 
										color-stop(0, rgba(0,0,0, 0.4)), 
										color-stop(0.09, rgba(0,0,0, 0.4)), 
										color-stop(0.09, rgba(0,0,0, 0)), 
										color-stop(0.92, rgba(255, 255, 255, 0)), 
										color-stop(0.92, rgba(255, 255, 255, 0.1)), 
										color-stop(1, rgba(255, 255, 255, 0.6)) ) , 
										url("../images/ln_c4.png");
	background-repeat: no-repeat, repeat;	*/
}


.ui-btn-up-e a.ui-link-inherit {
	color: white;
}
.ui-btn-hover-e a.ui-link-inherit {
	color: #f0e97f;
/*	color: white;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgba(0,0,0, 0.7)), color-stop(0.05, rgba(0,0,0, 0.7)), color-stop(0.05, rgba(0,0,0, 0)), color-stop(0.9, rgba(255, 255, 255, 0)), color-stop(0.9, rgba(255, 255, 255, 0.1)), color-stop(1, rgba(255, 255, 255, 0.8)) ) , url("../images/ln_c4.png")!important;
	background-repeat: no-repeat, repeat!important;	
*/}
/* This does not work for hover on the last element of a list:
 .ui-btn-hover-c a.ui-link-inherit .ui-corner-button   {
	border-bottom-left-radius: 9px!important;
	border-bottom-right-radius: 9px!important;
	-webkit-border-bottom-left-radius: 9px!important;
	-webkit-border-bottom-right-radius: 9px!important;
}*/


@media only screen and (max-width : 400px)
{
	#footer{
	width: 75%;
}
	#footer a {
	font:bold 10px Helvetica,Arial,sans-serif;
	}	
}

/* iPhone Portrait, 350px > width */
/*@media only screen and (max-width : 350px) 
{
	.ui-header .ui-title, .ui-footer .ui-title {
	  min-height: 1.1em;
	  text-align: center;
	  font-size: 13px;
	  display: block;
	  margin: .9em 90px 1.1em;
	  padding: 0;
	 }
}*/

/* ----------------------------------------------------------- 
				index.html / menu.html
-------------------------------------------------------------- */
#page_login,#page_menu {

	/* background-image: url("../images/ln_c2.png");	
	background-repeat: repeat; */
	background-color: rgb(133,145,148)!important;
	background-repeat: repeat;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.4, rgba(232,232,246, 0)), color-stop(1, rgba(32, 32, 48, 0.6)) )!important ;
	background-image: -o-linear-gradient(bottom, rgba(232,232,246, 0) 40%, rgba(32, 32, 48, 0.6) 100%)!important ;	
	background-image: -ms-linear-gradient(bottom, rgba(232,232,246, 0) 40%, rgba(32, 32, 48, 0.6) 100%)!important ;
	background-image: -moz-linear-gradient(bottom, rgba(232,232,246, 0) 40%, rgba(32, 32, 48, 0.6) 100%)!important ;		
/*	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.4, rgba(232,232,246, 0)), color-stop(1, rgba(32, 32, 48, 0.6)) ) , url("../images/ln_c2.png");
	background-image: -o-linear-gradient(bottom, rgba(232,232,246, 0) 40%, rgba(32, 32, 48, 0.6) 100%) , url("../images/ln_c2.png");	
	background-image: -ms-linear-gradient(bottom, rgba(232,232,246, 0) 40%, rgba(32, 32, 48, 0.6) 100%) , url("../images/ln_c2.png");	
	background-image: -moz-linear-gradient(bottom, rgba(232,232,246, 0) 40%, rgba(32, 32, 48, 0.6) 100%) , url("../images/ln_c2.png");	
	background-color: rgb(240,240,240);
	background-repeat: no-repeat, repeat;*/
}

/* iPad Landscape, Desktop, width > 820px */
#page_login #logo, #page_menu #logo{
	background: url("../images/ConnectLogoL700.png") center center no-repeat;
	height: 296px;
	width: auto;
	margin: 20px 0px 20px 0px;
}
#page_menu #logmenu_container {
	position: relative;
	top: 0px;
	text-align: center;
	width: 80%;
	display: block;
	margin: 0px auto 0 auto;
	vertical-align: middle;
	display: block;
}

#page_login #btnLogin{
	/*
	position: relative;
	top: 0px;
	text-align: center;
	width: 50%;
	display: block;
	margin: 0px auto 0 auto;
	vertical-align: middle;
	*/
}

#page_login #logmenu, #page_menu #logmenu {
	position: absolute;
	width: 80%;
	height: 100px;
	overflow: visible;
}
#page_login #logmenu a, #page_menu #logmenu a {
	text-align:center; 	
	font: 18px 'Lucida', 'Verdana', sans-serif; 
	letter-spacing: 0;
	vertical-align: baseline;
	position: absolute;
	top: 0px; 	
	/* color: #000000; */
	color: white;
	text-decoration: none;  

}
#page_login #log_desktop, #page_menu #log_desktop {
  left: 0%;
  /* width: 25%; */
  width: 25%;  
  display: inline;
  background-color: #ffffc6;
  position: absolute;
  vertical-align: middle;
  height: 150px;
  background: url("../images/Desktop_N128.png") center 10px no-repeat;
}

/*iphone portrait*/
@media screen and (max-width: 320px) 
{ 
	#page_login #log_desktop, #page_menu #log_desktop {
	  height: 90px;
	  background: url("../images/desktop.png") center 10px no-repeat;
	}
}
/*iphone landscape*/
@media screen and (min-width: 321px) and (max-width:480px) 
{ 
	#page_login #log_desktop, #page_menu #log_desktop {
	  height: 90px;
	  background: url("../images/desktop.png") center 10px no-repeat;
	}
}
/*intermediate format*/
@media screen and (min-width: 481px) and (max-width:767px) 
{ 
	#page_login #log_desktop, #page_menu #log_desktop {
	  height: 90px;
	  background: url("../images/desktop.png") center 10px no-repeat;
	}
}
/*ipad portrait*/
@media screen and (min-width: 768px) and (max-height: 1024px) 
{ 
	#page_login #log_desktop, #page_menu #log_desktop {
	  height: 150px;
	  background: url("../images/Desktop_N128.png") center 10px no-repeat;
	}
} 
/*ipad landscape*/
@media screen and (min-width: 1024px) and (max-height: 768px) 
{
	#page_login #log_desktop, #page_menu #log_desktop {
	  height: 150px;
	  background: url("../images/Desktop_N128.png") center 10px no-repeat;
	}
}


#page_login #log_contacts, #page_menu #log_contacts{
  position: absolute;
  top: 0px;
  /*  left: 33%;
 width: 25%; */
  left: 26%;
  width: 39%;  
  height: 90px;
  display: inline;
  height: 150px;
  background: url("../images/Contacts_N128.png") center 10px no-repeat;
}
/*iphone portrait*/
@media screen and (max-width: 320px) 
{ 
	#page_login #log_contacts, #page_menu #log_contacts {
	  height: 90px;
	  background: url("../images/contacts.png") center 10px no-repeat;
	}
}
/*iphone landscape*/
@media screen and (min-width: 321px) and (max-width:480px) 
{ 
	#page_login #log_contacts, #page_menu #log_contacts {
	  height: 90px;
	  background: url("../images/contacts.png") center 10px no-repeat;
	}
}
/*intermediate format*/
@media screen and (min-width: 481px) and (max-width:767px) 
{ 
	#page_login #log_contacts, #page_menu #log_contacts {
	  height: 90px;
	  background: url("../images/contacts.png") center 10px no-repeat;
	}
}
/*ipad portrait*/
@media screen and (min-width: 768px) and (max-height: 1024px) 
{ 
	#page_login #log_contacts, #page_menu #log_contacts {
	  height: 150px;
	  background: url("../images/Contacts_N128.png") center 10px no-repeat;
	}
} 
/*ipad landscape*/
@media screen and (min-width: 1024px) and (max-height: 768px) 
{
	#page_login #log_contacts, #page_menu #log_contacts {
	  height: 150px;
	  background: url("../images/Contacts_N128.png") center 10px no-repeat;
	}
}


#page_login #log_projects, #page_menu #log_projects{
  position: absolute;
  top: 0px;
  /*  left: 66%; 
 width: 25%; */
  left: 62%; 
  width: 39%;  
  height: 90px;
  display: inline;
  height: 150px;
  background: url("../images/Projects_N128.png") center 10px no-repeat;  
}
/*iphone portrait*/
@media screen and (max-width: 320px) 
{ 
	#page_login #log_projects, #page_menu #log_projects {
	  height: 90px;
	  background: url("../images/projects.png") center 10px no-repeat;
	}
}
/*iphone landscape*/
@media screen and (min-width: 321px) and (max-width:480px) 
{ 
	#page_login #log_projects, #page_menu #log_projects {
	  height: 90px;
	  background: url("../images/projects.png") center 10px no-repeat;
	}
}
/*intermediate format*/
@media screen and (min-width: 481px) and (max-width:767px) 
{ 
	#page_login #log_projects, #page_menu #log_projects {
	  height: 90px;
	  background: url("../images/projects.png") center 10px no-repeat;
	}
}
/*ipad portrait*/
@media screen and (min-width: 768px) and (max-height: 1024px) 
{ 
	#page_login #log_projects, #page_menu #log_projects {
	  height: 150px;
	  background: url("../images/Projects_N128.png") center 10px no-repeat;
	}
} 
/*ipad landscape*/
@media screen and (min-width: 1024px) and (max-height: 768px) 
{
	#page_login #log_projects, #page_menu #log_projects {
	  height: 150px;
	  background: url("../images/Projects_N128.png") center 10px no-repeat;
	}
}


#page_login #log_calendar, #page_menu #log_calendar{
  position: absolute;
  left: 100%;
  top: 0px;
  /* width: 25%; */
  width: 25%;  
  height: 90px;
  display: inline;
  height: 150px;
  background: url("../images/CalendarE_N128.png") center 10px no-repeat;
}
/*iphone portrait*/
@media screen and (max-width: 320px) 
{ 
	#page_login #log_calendar, #page_menu #log_calendar {
	  height: 90px;
	  background: url("../images/calendar.png") center 10px no-repeat;
	}
}
/*iphone landscape*/
@media screen and (min-width: 321px) and (max-width:480px) 
{ 
	#page_login #log_calendar, #page_menu #log_calendar {
	  height: 90px;
	  background: url("../images/calendar.png") center 10px no-repeat;
	}
}
/*intermediate format*/
@media screen and (min-width: 481px) and (max-width:767px) 
{ 
	#page_login #log_calendar, #page_menu #log_calendar {
	  height: 90px;
	  background: url("../images/calendar.png") center 10px no-repeat;
	}
}
/*ipad portrait*/
@media screen and (min-width: 768px) and (max-height: 1024px) 
{ 
	#page_login #log_calendar, #page_menu #log_calendar {
	  height: 150px;
	  background: url("../images/CalendarE_N128.png") center 10px no-repeat;
	}
} 
/*ipad landscape*/
@media screen and (min-width: 1024px) and (max-height: 768px) 
{
	#page_login #log_calendar, #page_menu #log_calendar {
	  height: 150px;
	  background: url("../images/CalendarE_N128.png") center 10px no-repeat;
	}
}


#page_login #footer, #page_menu #footer{
	position: relative;
	top: 140px;
}

/* iPad Portrait, Desktop, 790px > width > 500px */
/* @media only screen and (max-width : 790px) */
@media screen and (min-width: 768px) and (max-width: 1019px)
{
	#page_login #logo, #page_menu #logo{
		background: url("../images/ConnectLogoL700.png") center center no-repeat;
		height: 295px;
		width: auto;
		margin: 110px 0px 110px 0px;
	}

	#page_login #logmenu a, #page_menu #logmenu a{
		font: 16px/18px 'Lucida', 'Verdana', sans-serif;
	}

	#page_login #footer, #page_menu #footer{
		position: relative;
		top: 140px;
	}	
}
/* Retina */
@media screen and (min-width: 768px) and (max-width: 1019px) and (-webkit-min-device-pixel-ratio : 1.5) {
    #page_login #logo, #page_menu #logo{
        background-image: url("../images/ConnectLogoL700@2x.png");
        background-size: 464px 196px;
    }
}

/* iPad Landscape, Desktop, 1020px > width > 1100px */
/* @media only screen and (max-width : 790px) */
@media screen and (min-width: 1020px) and (max-width: 1100px) 
{
	#page_login #logo, #page_menu #logo{
		background: url("../images/ConnectLogoL700.png") center center no-repeat; 
		height: 295px;
		width: auto;
		margin: 0px 0px 0px 0px;
	}
	
	#page_login #logmenu a, #page_menu #logmenu a{
		font: 16px/18px 'Lucida', 'Verdana', sans-serif;
	}

	#page_login #footer, #page_menu #footer{
		position: relative;
		top: 140px;
	}	
}
/* Retina */
@media screen and (min-width: 1020px) and (max-width: 1100px)  and (-webkit-min-device-pixel-ratio : 1.5) {
    #page_login #logo, #page_menu #logo{
        background-image: url("../images/ConnectLogoL700@2x.png");
        background-size: 464px 196px;
    }
}
/* iPhone Landscape, 500px > width > 350px */
@media only screen and (max-width : 500px) 
{
	#page_login #logo, #page_menu #logo{
		background: url("../images/ConnectLogoL175.png") center center no-repeat;
		height: 74px;
		width: auto;
		margin: 0px 0px 0px 0px;
	}
	#page_login #logmenu a, #page_menu #logmenu a{
		font: 12px 'Lucida', 'Verdana', sans-serif;
	}

	#page_login #footer, #page_menu #footer{
		position: relative;
		top: 80px;
	}
}
/* iPhone Portrait, 350px > width */
@media only screen and (max-width : 350px) 
{
	#page_login #logo, #page_menu #logo{
		background: url("../images/ConnectLogoL175.png") center center no-repeat; 		
		height: 74px;
		width: auto;
		margin: 20px 0px 10px 0px;
	}
	#page_login #logmenu a, #page_menu #logmenu a{
		font: 12px 'Lucida', 'Verdana', sans-serif;
	}

	#page_login #footer, #page_menu #footer{
		position: relative;
		top: 80px;
	}	
}


/* ----------------------------------------------------------- 
				contactfavorites.html
-------------------------------------------------------------- */
#page_favorites .ui-btn-text {
	text-indent: 40px;
}
#page_favorites .organization .ui-btn-text {
	text-indent: 10px;
}


/* ----------------------------------------------------------- 
				calendar.html
-------------------------------------------------------------- */
/* custom icons */
#page_calendar .ui-li-has-arrow .ui-btn-inner a.indent { 
	text-indent:40px; 
} 
#page_calendar .ui-listview .ui-li-icon{
	left: 0.5em;
	top: 1.8em;
	max-height: 35px;
	max-width: 35px;
}
/* prev/next navigation */
#page_calendar .ui-controlgroup-horizontal{
	padding: 0;
	/*width: 125px;*/
	position: absolute;
	right: 5px;
	top: 0.2em;
}
#page_calendar .ui-controlgroup{ 
	padding: 0;
	margin: 0;
}
#page_calendar .ui-li-heading {
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin: .5em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#page_calendar .ui-li-desc {
	font-size: 11px;
	font-weight: normal;
	display: block;
	margin: -.5em 0 .6em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	/* color:#3D3D3D; */
}
#page_calendar .ui-content {
	padding: 0px;
}

@media only screen and (max-width : 400px) 
{
	#page_calendar .ui-listview .ui-li-icon {
	  left: 0.5em;
	  top: 1.3em;
	  max-height: 35px;
	  max-width: 35px;
	}
	#page_calendar .ui-li-heading {
	  font-size: 12px;
	  font-weight: bold;
	  display: block;
	  margin: .3em 0;
	  text-overflow: ellipsis;
	  overflow: hidden;
	  white-space: nowrap;
	}
	#page_calendar .ui-li-desc {
	  font-size: 10px;
	  font-weight: normal;
	  display: block;
	  margin: -.5em 0 .6em;
	  text-overflow: ellipsis;
	  overflow: hidden;
	  white-space: nowrap;
	  color: #FFFFFF;   /*#3D3D3D;*/
	}
	#page_calendar .ui-li-desc:first-child{  
	  margin-top:0.1em;
	}
	#page_calendar .viewFromInfo, #page_calendar .viewToInfo{
	  font-size:12px;	
	}
}


/* ----------------------------------------------------------- 
				contact.html
-------------------------------------------------------------- */

/* CUSTOM LIST (hbs 32px icons */
#page_contact .ui-li-has-arrow .ui-btn-inner a.indent { 
	text-indent:35px; 
} 
#page_contact .ui-listview .ui-li-icon{
	max-height: 22px;
	max-width: 22px;
	top: 5px;
}
#page_contact .ui-content .ui-listview-inset {
	margin-bottom: 0;
}
#page_contact .fieldType{
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
}


/* ----------------------------------------------------------- 
				contactfind.html
-------------------------------------------------------------- */
#page_contactfind #findform .ui-btn {
  display: block;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin: .5em 1px;
  padding: 0;
}


/* ----------------------------------------------------------- 
				desktop.html
-------------------------------------------------------------- */

/* Background */
#page_desktop {

	/* background-image: url("../images/ln_c2.png");	
	background-repeat: repeat; */
	background-color: rgb(133,145,148)!important;
	background-repeat: repeat;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.4, rgba(232,232,246, 0)), color-stop(1, rgba(32, 32, 48, 0.6)) )!important ;
	background-image: -o-linear-gradient(bottom, rgba(232,232,246, 0) 40%, rgba(32, 32, 48, 0.6) 100%)!important ;	
	background-image: -ms-linear-gradient(bottom, rgba(232,232,246, 0) 40%, rgba(32, 32, 48, 0.6) 100%)!important ;
	background-image: -moz-linear-gradient(bottom, rgba(232,232,246, 0) 40%, rgba(32, 32, 48, 0.6) 100%)!important ;	
	
/*	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.4, rgba(232,232,246, 0)), color-stop(1, rgba(32, 32, 48, 0.6)) ) , url("../images/ln_c2.png");
	background-image: -o-linear-gradient(bottom, rgba(232,232,246, 0) 40%, rgba(32, 32, 48, 0.6) 100%) , url("../images/ln_c2.png");	
	background-image: -ms-linear-gradient(bottom, rgba(232,232,246, 0) 40%, rgba(32, 32, 48, 0.6) 100%) , url("../images/ln_c2.png");	
	background-image: -moz-linear-gradient(bottom, rgba(232,232,246, 0) 40%, rgba(32, 32, 48, 0.6) 100%) , url("../images/ln_c2.png");	
	background-color: rgb(240,240,240);
	background-repeat: no-repeat, repeat;*/
}


/* CUSTOM LIST (hbs 32px icons */
#page_desktop .ui-li-has-arrow .ui-btn-inner a.indent { 
	text-indent:35px; 
} 
#page_desktop .ui-listview .ui-li-icon{
	top: .4em;
}
#page_desktop .ui-content .ui-listview-inset {
	margin-bottom: 0;
}
/*
#page_desktop #listmenu {
	top: 200px;
	position: absolute;
	width: 90%;
}

#page_desktop #viewmenu {
	top: 500px;
	position: absolute;
	width: 90%;
}*/

#page_desktop ui-li, .ui-li.ui-field-contain{
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
}

/* MB Upper Menu */
#page_desktop  .ui-bar a  {
	text-align: center;
	vertical-align: text-bottom;
	position: absolute;
	bottom: 5px;
}

#page_desktop  #desktopmenu_container, #page_desktop  .ui-bar, #page_desktop  .ui-bar a  {
	top: 0px;
	text-align: center;
	height: 170px;
	border: none;
	background: none;
	font: 18px 'Lucida', 'Verdana', sans-serif; 
	vertical-align: text-bottom;
	/*position: absolute;
	bottom: 5px;*/
	/* width: 90%;
	position: relative; */
	/* display: block; 
	margin: 0px auto 0 auto;
	vertical-align: middle;
	
	padding-top: 10px;*/
}

/*iphone portrait*/
@media screen and (max-width: 320px) 
{ 
	#page_desktop  #desktopmenu_container, #page_desktop  .ui-bar, #page_desktop  .ui-bar a {
		height: 70px;
		font: 11px 'Lucida', 'Verdana', sans-serif; 
	}
}
/*iphone landscape*/
@media screen and (min-width: 321px) and (max-width:480px) 
{ 
	#page_desktop  #desktopmenu_container, #page_desktop  .ui-bar, #page_desktop  .ui-bar a {
		height: 70px;
		font: 12px 'Lucida', 'Verdana', sans-serif; 
	}
}
/*intermediate format*/
@media screen and (min-width: 481px) and (max-width:767px) 
{ 
	#page_desktop  #desktopmenu_container, #page_desktop  .ui-bar, #page_desktop  .ui-bar a {
		height: 105px;
		font: 14px 'Lucida', 'Verdana', sans-serif; 
	}
}
/*ipad portrait*/
@media screen and (min-width: 768px) and (max-height: 1024px) 
{ 
	#page_desktop  #desktopmenu_container, #page_desktop  .ui-bar, #page_desktop  .ui-bar a {
		height: 105px;
		font: 18px 'Lucida', 'Verdana', sans-serif; 
	}
} 
/*ipad landscape*/
@media screen and (min-width: 1024px) and (max-height: 768px) 
{
	#page_desktop  #desktopmenu_container, #page_desktop  .ui-bar, #page_desktop  .ui-bar a {
		height: 170px;
		font: 18px 'Lucida', 'Verdana', sans-serif; 
	}
}

#page_desktop .ui-bar-a, .ui-bar-b, .ui-bar-c, .ui-bar-d, .ui-bar-e {
	/*border: none;
	background: none;*/
}

#page_desktop #desktopmenu {
	/* position: absolute;
	width: 70%;
	overflow: visible;
	list-style-type: none;
	margin: auto; */
	font: 18px 'Lucida', 'Verdana', sans-serif; 
	line-height: 290px;
	height: 270px;
	border: none;
	background: none;
}

#page_desktop #desktopmenu li {
	float: left;
}

#page_desktop #desktopmenu a {
	text-align:center; 	
	letter-spacing: 0;
	position: absolute;
	/*top: 0px; 	*/
	text-decoration: none;  
	display: inline;
	width: 100%;
	left: 0%;
	color: white;
	text-shadow: 0px -1px 2px black;	
	line-height: 310px;
	height: 270px;
	/* background-position: top; 

	display: inline;
	vertical-align: middle;*/
}


/*iphone portrait*/
@media screen and (max-width: 320px) 
{ 
	#page_desktop #desktopmenu, #page_desktop #desktopmenu a {
		font: 11px 'Lucida', 'Verdana', sans-serif; 
		line-height: 100px;
		height: 70px;
	}
}
/*iphone landscape*/
@media screen and (min-width: 321px) and (max-width:480px) 
{ 
	#page_desktop #desktopmenu, #page_desktop #desktopmenu a {
		font: 12px 'Lucida', 'Verdana', sans-serif; 
		line-height: 100px;
		height: 70px;
	}
}
/*intermediate format*/
@media screen and (min-width: 481px) and (max-width:767px) 
{ 
	#page_desktop #desktopmenu, #page_desktop #desktopmenu a {
		font: 14px 'Lucida', 'Verdana', sans-serif; 
		line-height: 183px;
		height: 102px;
	}
}
/*ipad portrait*/
@media screen and (min-width: 768px) and (max-height: 1024px) 
{ 
	#page_desktop #desktopmenu, #page_desktop #desktopmenu a {
		font: 18px 'Lucida', 'Verdana', sans-serif; 
		line-height: 183px;
		height: 102px;
	}
} 
/*ipad landscape*/
@media screen and (min-width: 1024px) and (max-height: 768px) 
{
	#page_desktop #desktopmenu, #page_desktop #desktopmenu a {
		font: 18px 'Lucida', 'Verdana', sans-serif; 
		line-height: 310px;
		height: 270px;
	}
}

/* Menu Elements */

#page_desktop #desktopmenu_find {
  left: 0%;
  background: url("../images/View128.png") center 10px no-repeat;
	/*line-height: 290px!important;*/
	height: 270px!important;
}

/*iphone portrait*/
@media screen and (max-width: 320px) 
{ 
	#page_desktop #desktopmenu_find {
	  background: url("../images/View32.png") center 10px no-repeat;
	  /*line-height: 90px!important;*/
	  height: 70px!important;
	}
}
/*iphone landscape*/
@media screen and (min-width: 321px) and (max-width:480px) 
{ 
	#page_desktop #desktopmenu_find {
	  background: url("../images/View32.png") center 10px no-repeat;
	  /*line-height: 90px!important;*/
	  height: 70px!important;
	}
}
/*intermediate format*/
@media screen and (min-width: 481px) and (max-width:767px) 
{ 
	#page_desktop #desktopmenu_find {
	  background: url("../images/View64.png") center 10px no-repeat;
	  /*line-height: 163px!important;*/
	  height: 102px;	  
	}
}
/*ipad portrait*/
@media screen and (min-width: 768px) and (max-height: 1024px) 
{ 
	#page_desktop #desktopmenu_find {
	  background: url("../images/View64.png") center 10px no-repeat;
	  /*line-height: 163px!important;*/
	  height: 102px;	 	  
	}
} 
/*ipad landscape*/
@media screen and (min-width: 1024px) and (max-height: 768px) 
{
	#page_desktop #desktopmenu_find {
	  background: url("../images/View128.png") center 10px no-repeat;
	  /*line-height: 290px!important;*/
	  height: 270px!important;	 	  
	}
}



#page_desktop #desktopmenu_documents{
  left: 20%;
  background: url("../images/Document128.png") center 10px no-repeat;
  text-align: right;
  /* width: 30%!important; */
}

/*iphone portrait*/
@media screen and (max-width: 320px) 
{ 
	#page_desktop #desktopmenu_documents {
	  background: url("../images/Document32.png") center 10px no-repeat;
	}
}
/*iphone landscape*/
@media screen and (min-width: 321px) and (max-width:480px) 
{ 
	#page_desktop #desktopmenu_documents {
	  background: url("../images/Document32.png") center 10px no-repeat;
	}
}
/*intermediate format*/
@media screen and (min-width: 481px) and (max-width:767px) 
{ 
	#page_desktop #desktopmenu_documents {
	  background: url("../images/Document64.png") center 10px no-repeat;
	}
}
/*ipad portrait*/
@media screen and (min-width: 768px) and (max-height: 1024px) 
{ 
	#page_desktop #desktopmenu_documents {
	  background: url("../images/Document64.png") center 10px no-repeat;
	}
} 
/*ipad landscape*/
@media screen and (min-width: 1024px) and (max-height: 768px) 
{
	#page_desktop #desktopmenu_documents {
	  background: url("../images/Document128.png") center 10px no-repeat;
	}
}


#page_desktop #desktopmenu_notes{
  left: 50%; 
  width: 20%;  
  background: url("../images/note128.png") center 10px no-repeat;  
}
/*iphone portrait*/
@media screen and (max-width: 320px) 
{ 
	#page_desktop #desktopmenu_notes {
	  background: url("../images/note32.png") center 10px no-repeat;
	}
}
/*iphone landscape*/
@media screen and (min-width: 321px) and (max-width:480px) 
{ 
	#page_desktop #desktopmenu_notes {
	  background: url("../images/note32.png") center 10px no-repeat;
	}
}
/*intermediate format*/
@media screen and (min-width: 481px) and (max-width:767px) 
{ 
	#page_desktop #desktopmenu_notes {
	  background: url("../images/note64.png") center 10px no-repeat;
	}
}
/*ipad portrait*/
@media screen and (min-width: 768px) and (max-height: 1024px) 
{ 
	#page_desktop #desktopmenu_notes {
	  background: url("../images/note64.png") center 10px no-repeat;
	}
} 
/*ipad landscape*/
@media screen and (min-width: 1024px) and (max-height: 768px) 
{
	#page_desktop #desktopmenu_notes {
	  background: url("../images/note128.png") center 10px no-repeat;
	}
}


#page_desktop #desktopmenu_emails {
  left: 75%;
  background: url("../images/email128.png") center 10px no-repeat;
}
/*iphone portrait*/
@media screen and (max-width: 320px) 
{ 
	#page_desktop #desktopmenu_emails {
	  background: url("../images/email32.png") center 10px no-repeat;
	}
}
/*iphone landscape*/
@media screen and (min-width: 321px) and (max-width:480px) 
{ 
	#page_desktop #desktopmenu_emails {
	  background: url("../images/email32.png") center 10px no-repeat;
	}
}
/*intermediate format*/
@media screen and (min-width: 481px) and (max-width:767px) 
{ 
	#page_desktop #desktopmenu_emails {
	  background: url("../images/email64.png") center 10px no-repeat;
	}
}
/*ipad portrait*/
@media screen and (min-width: 768px) and (max-height: 1024px) 
{ 
	#page_desktop #desktopmenu_emails {
	  background: url("../images/email64.png") center 10px no-repeat;
	}
} 
/*ipad landscape*/
@media screen and (min-width: 1024px) and (max-height: 768px) 
{
	#page_desktop #desktopmenu_emails {
	  background: url("../images/email128.png") center 10px no-repeat;
	}
}


#page_desktop #desktopmenu_websites {
  left: 100%;
  background: url("../images/earth128.png") center 10px no-repeat;
}
/*iphone portrait*/
@media screen and (max-width: 320px) 
{ 
	#page_desktop #desktopmenu_websites {
	  background: url("../images/earth32.png") center 10px no-repeat;
	}
}
/*iphone landscape*/
@media screen and (min-width: 321px) and (max-width:480px) 
{ 
	#page_desktop #desktopmenu_websites {
	  background: url("../images/earth32.png") center 10px no-repeat;
	}
}
/*intermediate format*/
@media screen and (min-width: 481px) and (max-width:767px) 
{ 
	#page_desktop #desktopmenu_websites {
	  background: url("../images/earth64.png") center 10px no-repeat;
	}
}
/*ipad portrait*/
@media screen and (min-width: 768px) and (max-height: 1024px) 
{ 
	#page_desktop #desktopmenu_websites {
	  background: url("../images/earth64.png") center 10px no-repeat;
	}
} 
/*ipad landscape*/
@media screen and (min-width: 1024px) and (max-height: 768px) 
{
	#page_desktop #desktopmenu_websites {
	  background: url("../images/earth128.png") center 10px no-repeat;
	}
}


#page_desktop .ui-li-count {
	line-height: 20px;
	color: white;
	/* width: 50px; */
	/*height: 20px;*/
	position: absolute;
	right: 10px;
	top: 5px;
	/*top: -144px;*/
	/* left: 100%; */
	text-align: right!important;
	vertical-align: middle;
	text-shadow: none;
	background-color: rgb(171,47,25);
	border-radius: 1em; 
	-moz-border-radius: 1em; 
	-webkit-border-radius: 1em; 
	border-top: 1px solid white;
	/*border-color: rgba(255, 255, 255, .3);*/
	text-shadow: 0 -1px 0 black;
	/*border: 2px solid #ffffff;*/
	font: 12px 'Lucida', 'Verdana', sans-serif; 
	font-family: 'Helvetica','Arial',sans-serif;
	font-size: 12px; 	
	font-weight: bold;
	text-decoration: none;
	padding: 2px 4px 2px 4px;
}

/*iphone portrait*/
@media screen and (max-width: 320px) 
{ 
	#page_desktop .ui-li-count {
		/*top: -50px;*/
		/* left: 100%; */
		/*border: 1px solid #ffffff;*/
		font-size: 8px; 
	}
}
/*iphone landscape*/
@media screen and (min-width: 321px) and (max-width:480px) 
{ 
	#page_desktop .ui-li-count {
		/*top: -50px;*/
		/* left: 100%; */
		/*border: 1px solid #ffffff;*/
		font-size: 8px; 
	}
}
/*intermediate format*/
@media screen and (min-width: 481px) and (max-width:767px) 
{ 
	#page_desktop .ui-li-count {
		/*top: -80px;*/
		/* left: 100%; */
		/*border: 1px solid #ffffff;*/
		font-size: 10px; 
	}
}
/*ipad portrait*/
@media screen and (min-width: 768px) and (max-height: 1024px) 
{ 
	#page_desktop .ui-li-count {
		/*top: -80px;*/
		/* left: 100%; */
		/*border: 1px solid #ffffff;*/
		font-size: 10px; 
	}
} 
/*ipad landscape*/
@media screen and (min-width: 1024px) and (max-height: 768px) 
{
	#page_desktop .ui-li-count {
		/*top: -144px;*/
		/* left: 100%; */
		/*border: 1px solid #ffffff;*/
		font-size: 12px; 
	}
}

#page_desktop  .ui-bar-e .ui-li-count {
	text-shadow: none;
	font-family: 'Helvetica','Arial',sans-serif;
}
/* ----------------------------------------------------------- 
				emails.html
-------------------------------------------------------------- 
#page_emails #emaillist {
	position: static;
	-webkit-overflow-scrolling: touch;
}
#page_emails .ui-listview {
	position: static;
	-webkit-overflow-scrolling: touch;
}
#page_emails .ui-header {
	position: fixed;
	width: 100%;
}*/