.list #content { margin-top:0!important;}
.list #content li{ border-bottom:none!important;}
.list #content li a { 
	padding: 9px 0 0 20px; 
	font-size:small;
	font-weight:bold;
	color:white;
}

.list ul{ background: none; }
.list ul img { width: 75px;height: 75px;}
.list .title { 
	background:none!important;
	text-overflow: ellipsis;
	white-space: nowrap;	
	max-width: 80%;	
	overflow: hidden;
}
.list .withimage {height: 75px!important;}
.list .withimage .arrow {top: 33px!important;}
.list .withimage .name {margin: 20px 0 0 75px;}
.list .withimage a, .list .withimage:hover a {height: 66px!important;}
li.withimage a span.norm { 
	font-weight:bold; 
	color: white;
	/*font-size:15px;*/
}

.list .withimage:hover a
{
 /*background-image:url(../../assets/images/PTB_TableElement_Sel.png)!important;*/ 
 /*background-color:#F00!important;max-height:75px;*/
}
li.withimage {background-image:url(../../assets/images/PTB_TableElement.jpg) !important;}
.list{
	/*background-color:#0F3650!important;*/
	background:url(../../assets/images/PooltableBlue256.jpg) 50% repeat!important;
}

/* ANIMATION */
@-webkit-keyframes fade-in 
{
 0% {
   opacity: 0.0;
   -webkit-transform: rotatex(90deg);
 }
 100% {
   opacity: 1.0;
   -webkit-transform: rotatex(0deg);
 }
}
@-webkit-keyframes fade-in-simple 
{
 from 
 {
   opacity: 0.0;
   -webkit-transform: scale(0);
 }
 to {
   opacity: 1.0;
   -webkit-transform: scale(1);
 }
}