/*  ---------------------------------------------------
 *   iWebkit extraction
 *  --------------------------------------------------*/
body {
	position:relative;
	margin:0;
	-webkit-text-size-adjust:none;
	min-height:416px;
	font-family:Helvetica, Arial, sans-serif;
	-webkit-touch-callout:none
}
img {
	border:0
}
a:hover .arrow {
	background-position:0 -13px!important
}
@media screen and (max-width:320px) 
{
  #topbar {
  height:44px
  }
  #title {
  line-height:44px;
  height:44px;
  font-size:16pt
  }
  .menu .name {
  max-width:77%
  }
  #leftnav a, #rightnav a, #leftbutton a, #rightbutton a, #blueleftbutton a, #bluerightbutton a {
  line-height:30px;
  height:30px
  }
  #leftnav img, #rightnav img {
  margin-top:4px
  }
  #leftnav, #leftbutton, #blueleftbutton {
  top:7px
  }
  #rightnav, #rightbutton, #bluerightbutton {
  top:7px
  }
}
@media screen and (min-width:321px) 
{
  #topbar {
  height:32px
  }
  #title {
  line-height:32px;
  height:32px;
  font-size:13pt
  }
  .menu .name {
  max-width:85%
  }
  #leftnav a, #rightnav a, #leftbutton a, #rightbutton a, #blueleftbutton a, #bluerightbutton a {
  line-height:24px;
  height:24px
  }
  #leftnav img, #rightnav img {
  margin-top:4px;
  height:70%
  }
  #leftnav, #leftbutton, #blueleftbutton {
  top:4px
  }
  #rightnav, #rightbutton, #bluerightbutton {
  top:4px
  }
}
#topbar.black {
	/*background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#858585), color-stop(3%, #636363), color-stop(50%, #202020), color-stop(51%, black), color-stop(97%, black), to(#262626))*/
}
#topbar.transparent {
	/*background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(133, 133, 133, 0.7)), color-stop(3%, rgba(99, 99, 99, 0.7)), color-stop(50%, rgba(32, 32, 32, 0.7)), color-stop(51%, rgba(0, 0, 0, 0.7)), color-stop(97%, rgba(0, 0, 0, 0.7)), to(rgba(38, 38, 38, 0.7)))*/
}
#topbar {
	width:auto;
	position:relative;
	left:0;
	top:0;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#cdd5df), color-stop(3%, #b0bccd), color-stop(50%, #889bb3), color-stop(51%, #8195af), color-stop(97%, #6d84a2), to(#2d3642));
	font-family: Helvetica, Arial, sans-serif;
	/*margin-bottom: 7px !important;*/
}
#title {
	position:absolute;
	font-weight:bold;
	top:0;
	left:0;
	right:0;
	padding:0 10px;
	text-align:center;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	color:#FFF;
	text-shadow:rgba(0, 0, 0, 0.6) 0 -1px 0
}
#content {
	width:100%;
	position:relative;
	min-height:250px;
	margin-top:10px;
	height:auto;
	z-index:0;
	overflow:hidden
}
#footer {
	text-align:center;
	position:relative;
	margin:20px 10px 0;
	height:auto;
	width:auto;
	bottom:10px
}
#footer a, #footer {
	text-decoration:none;
	font-size:9pt;
	color:#4C4C4C;
	text-shadow:#FFF 0 1px 0
}
.pageitem {
	-webkit-border-radius:8px;
	/*background-color:#fff;*/
	border:#878787 solid 1px;
	font-size:12pt;
	overflow:hidden;
	padding:0;
	position:relative;
	display:block;
	height:auto;
	width:auto;
	margin:3px 9px 17px;
	list-style:none
}
#leftnav, #leftbutton, #blueleftbutton {
	position:absolute;
	font-size:12px;
	left:9px;
	font-weight:bold
}
#leftnav, #leftbutton, #rightnav, #rightbutton, #blueleftbutton, #bluerightbutton {
	z-index:5000
}
#leftnav a, #rightnav a, #leftbutton a, #rightbutton a, #blueleftbutton a, #bluerightbutton a {
	display:block;
	color:#fff;
	text-shadow:rgba(0, 0, 0, 0.6) 0 -1px 0;
	text-decoration:none
}
.black #leftnav a:first-child, .transparent #leftnav a:first-child {
	-webkit-border-image:url("../../assets/images/iwebkit/navleftblack.png") 0 5 0 13
}
.black #leftnav a, .transparent #leftnav a {
	-webkit-border-image:url("../../assets/images/iwebkit/navlinkleftblack.png") 0 5 0 13
}
.black #rightnav a:first-child, .transparent #rightnav a:first-child {
	-webkit-border-image:url("../../assets/images/iwebkit/navrightblack.png") 0 13 0 5
}
.black #rightnav a, .transparent #rightnav a {
	-webkit-border-image:url("../../assets/images/iwebkit/navlinkrightblack.png") 0 13 0 5
}
.black #leftbutton a, .black #rightbutton a, .transparent #leftbutton a, .transparent #rightbutton a {
	-webkit-border-image:url("../../assets/images/iwebkit/navbuttonblack.png") 0 5 0 5
}
#leftnav a:first-child {
	z-index:2;
	-webkit-border-image:url("../../assets/images/iwebkit/navleft.png") 0 5 0 13;
	border-width:0 5px 0 13px;
	-webkit-border-top-left-radius:16px;
	-webkit-border-bottom-left-radius:16px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	width:auto
}
#leftnav a {
	-webkit-border-image:url("../../assets/images/iwebkit/navlinkleft.png") 0 5 0 13;
	z-index:3;
	margin-left:-4px;
	border-width:0 5px 0 13px;
	padding-right:4px;
	-webkit-border-top-left-radius:16px;
	-webkit-border-bottom-left-radius:16px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	float:left
}
#rightnav, #rightbutton, #bluerightbutton {
	position:absolute;
	font-size:12px;
	right:9px;
	font-weight:bold
}
#rightnav a {
	-webkit-border-image:url("../../assets/images/iwebkit/navlinkright.png") 0 13 0 5;
	z-index:3;
	margin-right:-4px;
	border-width:0 13px 0 5px;
	padding-left:4px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	float:right;
	-webkit-border-top-right-radius:16px;
	-webkit-border-bottom-right-radius:16px
}
#rightnav a:first-child {
	z-index:2;
	-webkit-border-top-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-image:url("../../assets/images/iwebkit/navright.png") 0 13 0 5;
	border-width:0 13px 0 5px;
	-webkit-border-top-right-radius:16px;
	-webkit-border-bottom-right-radius:16px
}
.menu:hover, .list #content li a:hover, .list .withimage:hover, .menu a:hover .name, .list .withimage a:hover .comment{
	color:#fff
}
.menu .arrow, .list .arrow 
{
	position:absolute;
	width:8px!important;
	height:13px!important;
	right:10px;
	top:15px;
	margin:0!important;
	background:url("../../assets/images/iwebkit/arrow_white.png") 0 0 no-repeat
}
.list .withimage .comment{
	font-size:12px;
	color:#7f7f7f;
	display:block;
	width:60%;
	font-weight:bold;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.list .withimage .comment {
	margin:16px 0 0 95px
}
.list .withimage .arrow {
	top:39px!important
}
.graytitle {
	position:relative;
	font-weight:bold;
	font-size:17px;
	right:20px;
	left:9px;
	color:#4C4C4C;
	text-shadow:#FFF 0 1px 0;
	padding:1px 0 3px 8px;
	font-family: Helvetica, Arial, sans-serif;
}
.list .title {

	height:22px;
	width:100%;
	max-width: 80%;
	padding-bottom:10px;
	margin: 7px auto 0px auto; 
	position: relative;
	line-height:22px;
	text-align: center !important;
	color:#fff;
	font-weight:bold;
	text-shadow: none;
	font-size:16px;
	text-shadow: #061926 1px 1px 5px;	
}

.list ul {
	width:100%;
	overflow:hidden;
	padding:0;
	margin:0
}
.list #content li {
	height:40px;
	border-bottom:1px solid #e1e1e1;
	list-style:none
}
.list {
	background-image:none!important
}
.list #footer {
	margin-top:24px!important
}
.list #content li a {
	padding:9px 0 0 20px;
	font-size:large;
	font-weight:bold;
	position:relative;
	display:block;
	color:#000;
	text-decoration:none;
	height:32px
}
.list #content li a .name {
	text-overflow:ellipsis;
	overflow:hidden;
	max-width:93%;
	white-space:nowrap;
	display:block
}
.list #content li a:hover {
	color:#fff
}
.list #content {
	margin-top:-13px!important
}
.list ul img {
	width:90px;
	height:90px;
	position:absolute;
	left:0;
	top:0
}
.list .withimage {
	height:90px!important
}
.list .withimage .name {
	margin:13px 0 0 90px;
	text-overflow:ellipsis;
	overflow:hidden;
	max-width:63%!important;
	white-space:nowrap
}
.list .withimage .comment {
	margin:10px auto auto 90px !important;
	max-width:63%!important
}
.list .withimage a, .list .withimage:hover a {
	height:81px!important;
}
/*  ---------------------------------------------------
 *   Basic Ever Pics styles: "header, footer,.."
 *  --------------------------------------------------*/
body {
	background-color: #0F3650 !important;
	/*-webkit-background-size: 256px 256px;*/	
	background:url(../../assets/images/PooltableBlue256.jpg) 50% repeat;
}
/*  ---------------------------------------------------
 *   abc
 *  --------------------------------------------------*/
#title{ 
	font-size:15px;
	background:url(../../assets/images/everPics_TitleBar.png) 50% no-repeat;
	border-bottom: 1px solid #14496B;
}
#topbar{
	background:url(../../assets/images/PooltableBlue256.jpg) 50% repeat; 
}
#topbar.black {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#858585), 
		color-stop(0, rgb(106,137,156)),
		color-stop(0.03, rgb(22,80,118)),
		color-stop(0.5, rgb(9,32,47)),
		color-stop(0.51, rgb(9,32,47)),
		color-stop(0.97, rgb(9,32,47)),
		color-stop(1, rgb(38,38,38))
		);
}
#footer {
	text-align:center;
	position:relative;
	margin:20px 10px 0;
	height:auto;
	width:auto;
	bottom:10px
}
#footer a, #footer {
	text-decoration:none;
	font-size:9pt;
	color:#4C4C4C;
	text-shadow:#FFF 0 1px 0
}
#footer a {
	color: white; 
	text-shadow: none;
}
#footer {
	position: relative;
	height: 10px;
	margin-top:16px;
	/*background:url(../../assets/images/PooltableBlue256.jpg) 50% repeat; */
}

.graytitle{}
/*  ---------------------------------------------------
 *   Login Page
 *  --------------------------------------------------*/
.loginTitle {
	
	color:white;
	display: block;
	font-size:17px;
	font-weight:bold;
	margin: 0px auto;
	position: relative;
	text-align: center !important;
	text-overflow: ellipsis;
	white-space: nowrap;	
	max-width: 80%;	
	overflow: hidden;
}
#pic{	
	margin:5px auto 3px;
	text-align:center;
	width:150px; 
	height:auto;
	background-color:none;
	
	-webkit-border-bottom-left-radius: 5px 5px;-webkit-border-bottom-right-radius: 5px 5px;
	-webkit-border-top-left-radius: 5px 5px;-webkit-border-top-right-radius: 5px 5px;
	/*border: 1px solid rgb(180, 180, 180);*/
}
#pic img{
	width:auto;
	height:auto;
	margin-top:none;
}
#pic img
{
	/*border:2px #FFF solid;*/
	-webkit-box-shadow:#061621 5px 5px 15px;
		
	/*@MB: Try these..
	/*-webkit-box-shadow:#000 6px 2px 15px;*/
	/*-webkit-box-shadow: black 5px 5px 20px;*/
	/*-webkit-box-shadow: white 2px 2px 11px;*/
}
	
/*iphone portrait = 50% of the width = 160px*/
/*75px(original width)+160px(increased by 50% of the iphone width)*/
/*@media screen and (max-width: 320px) 
{ 
	#pic img
	{
		width:235px;
		height:auto;
		margin-top:none;
	}
}*/
/*iphone portrait = 50% of the width = 240px*/
/*@media screen and (min-width: 321px) and (max-width:480px) 
{ 
	#pic img
	{
		width:315px;
		height:auto;
		margin-top:none;
	}
}*/
/******************************************************/
.nohover, .nohover:hover {color:black;text-decoration:none;background-color:white;cursor: default;}
/*  ---------------------------------------------------
 *   entry field,button
 *  --------------------------------------------------*/
p.down{
	margin: 0px 10px !important;
  }
	 .entry
	 {
		border-top-left-radius:7px 7px;border-top-right-radius:7px 7px;
		border-bottom-left-radius:7px 7px;border-bottom-right-radius:7px 7px;	
		background-color:#DBDFE0;font: normal normal normal 18px/33px Helvetica;
		text-indent:4px;
		width:100%!important; /*295px !important;, 99%*/
		border:0!important;padding:0!important;margin-top:4px;
	  }
	  .button {
		  color: #FFF;font: normal normal bold 20px/46px Helvetica;
		  text-decoration: none;text-align: center;
		  text-shadow: #000 0 1px 0;border-width: 0px 14px;
		  display: block;margin: 3px 0;width:auto!important;
		  }
	  .green {
		  -webkit-border-image: url(../../assets/images/greenButton.png) 0 14 0 14; 
	  }
	  
	  #epform{ 
	  	margin: 5px 10px 0px !important; 
	  }	
      p#correct{
			display:block!important;
			margin:0; 
			padding:0; 
			border:0;
			margin-left: 3px!important;
			margin-right:3px!important;  
	   }