/* -------------------------------------------------------------------
//		BODY layout ( chrome,demo,tabs,..)
// ------------------------------------------------------------------ */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;	
}
body {
	font: 100%/1.5 Helvetica, Arial, sans-serif;
	color: #444;
	
}
#chrome {height: 100%;}
#demo {
	height: 100%;
	background:#0F3650;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: justify;
}
@media only screen and (min-width: 440px) {
	#chrome {
		height: 611px;
		/*padding: 159px 0 0 47px;*/

	}
	#demo {
		width: 320px;
		height: 460px;
		-webkit-border-bottom-left-radius: 2px;
		-webkit-border-bottom-right-radius: 2px;
		overflow: hidden;
	}
}
@media only screen and (min-width: 880px) {
	#chrome {
		height: 1136px;
		/*padding: 71px 0 0 56px;*/
	}
	#demo {
		width: 768px;
		height: 1004px;
	}
}
/* iphone portrait */
@media screen and (width: 480px) and (max-height: 300px) {
    #chrome {
        background: #0F3650;
	background-color: #0F3650;
        height: 100%;
        padding: 0;
    }
    #demo {
        height: 100%;
        width: 100%;
        -webkit-border-radius: 0;
    }
}
/* ipad portrait */
@media screen and (width: 768px) and (max-height: 1004px) {
    #chrome {
        background: #0F3650;
	background-color: #0F3650;
        height: 100%!important;
        padding: 0!important;
    }
    #demo {
        height: 100%;
        width: 100%;/*################*/
        -webkit-border-radius: 0;
    }
}
/* ipad landscape */
@media only screen and (width: 1024px) and (max-height: 748px) {
    #chrome {
        background: #0F3650;
	background-color: #0F3650;
        height: 100%;
        padding: 0!important;
    }
    #demo {
        height: 100%!important;
        width: 100%!important;
        -webkit-border-radius: 0;
    }
}
.toolbar {
	border-bottom: 1px solid #2d3642;
	border-top: 1px solid #cdd5df;
	padding: 8px 4px;
	height: 28px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#b0bccd), color-stop(.5,#889bb3), color-stop(.5,#8195af), to(#6d84a2));
	overflow: hidden;
	display: webkit-box;
}
h1 {
	line-height: 26px;
	font-size: 1.25em;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
	white-space: nowrap;
	color: #fff; /**/
	text-align: center;
	margin: 0 4px;
	overflow: hidden;
}
.tabs {
	border-top: 1px solid #333;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#858585), from(#6A899C), 
	color-stop(0.03, #165076), 
	color-stop(0.5, #09202F), 
	color-stop(0.51, #09202F), 
	color-stop(0.97, #09202F), to(#262626)
	);
	
	display: -webkit-box;
	text-align: center;
}
.tabs > * {
	font-size: .8em;
	height: 1.2em;
	padding: 20px 0 .5em 0;
	color: #808184;
	text-decoration: none;
	margin: .3em;
	display: block;
	width: 1px;
	-webkit-box-flex: 1;
	max-width: 25% !important;
}
.tabs > .current {
	-webkit-border-radius: .4em;
	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#939393), from(#7496AA), 
	color-stop(0.03, #17547A), 
	color-stop(0.5, #0B2B3D), 
	color-stop(0.51, #0B2B3D), 
	color-stop(0.97, #0B2B3D), to(#333333));
	 	
	color: #ccc;
}
.tabs > *:before {
	background: none center no-repeat;
	content: "";
	display: block;
	font: bold 32px/35px inherit;
	height: 20px;
	margin-top: -15px;
	text-align: center;
	text-shadow: rgba(255,255,255,0.3) 1px 1px 0px;
}
.tabs > [href="#pics_tab1"]:before {content: url(../images/grid_icon.png);}
.tabs > [href="#pics_tab2"]:before {content: url(../images/list_icon.png);}
.tabs > [href="#pics_tab3"]:before {content: url(../images/contacts_icon.png);}
.tabs > [href="#pics_tab4"]:before {content: url(../images/upload_icon.png);}
.tabs > [href="#pics_tab5"]:before {content: url(../images/download_icon.png);}
.scroller {
	-webkit-box-flex: 1;
	display: none;
	overflow: hidden;
	padding: 1em;
}
.touchScroll {padding: 0;}
.touchScrollInner {padding: 0em; /*padding: 0.5em;*/}
h2 {
	color: #405070;
	font-size: 1.125em;
	text-align: center;
	text-shadow: rgba(0,0,0,0.2) 1px 1px 0;
}
h2, p {margin-bottom: .75em;}
#pics_tab2 {background: rgb(15,54,80);}
#pics_tab1 {background: rgb(15,54,80);}
#horiz2 .touchScrollHandle {
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	min-height: 6px;
	min-width: 6px;
}

/* -------------------------------------------------------------------
//					GRID Layout
// ------------------------------------------------------------------ */

@-webkit-keyframes my-fade-in {
 0% {
   opacity: 0.0;
   -webkit-transform: rotatex(90deg);
 }
 100% {
   opacity: 1.0; 
   -webkit-transform: rotatex(0deg);
 }
}

#grid ul { 
  color: #0F3650;
  background: #0F3650; 
  border: 1px solid #B4B4B4;
  font: bold 17px Helvetica;
  padding: 0;	   
  margin: 15px 10px 17px 0;
  -webkit-border-radius: 8px;
  margin-top:11px!important; /*!*/
}
#grid ul li {
  color: #666;
  border-top: 1px solid #B4B4B4;
  list-style-type: none;
}

body#grid {
  	background:#FFFFFF;
  	margin: 0;
}
body#grid ul {
  	margin: 4px 4px 4px 0;
  	border: 0; -webkit-border-radius: 0;
}
body#grid ul li {
  	border-left: 1px solid rgb(105,138,161); 
  	border-top: 1px solid rgb(105,138,161); 
	border-right: 1px solid rgb(9,30,46);
	border-bottom: 1px solid rgb(9,30,46);
	
	/* border: none; */
  	-webkit-border-radius: 3px;
	-webkit-box-shadow: 2px 2px 4px rgba(5,5,5, 0.5);
	
	-webkit-perspective: 500px;
	-webkit-animation-name: my-fade-in;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;  
	-webkit-animation-direction: normal;	
  	width: 69px; 
  	height: 69px;
  	float: left;
  	margin: 0 0 4px 4px; 	
	padding: 2px 1px 2px 3px;
}
body#grid ul li a {
  	display: block;
  	width: 100%; /*!*/
  	height: 100%;
  	margin: 0;
  	padding: 0;
  	vertical-align:middle;    
  	background-color:#0F3650;
	text-decoration:none;
}

/* -------------------------------------------------------------------
//		GRID - Subfolders
// ------------------------------------------------------------------ */


#dir {
	border:0 !important;
	-webkit-box-shadow: none !important;
	-webkit-border-radius:none !important;
	margin: 3px !important;
	text-align: center;
}
body#grid ul li#dir img  {
	height: 56px;
	width: 56px;	
}
#fLabel
{
	color:#999;
	display:block;
	width:100%;
	max-width: 95%;
	font-size:10px;
	margin-top: -4px !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-indent:2px;
}
#fLabel a, body#grid ul li a 
{
	text-decoration:none !important;
}

/* -------------------------------------------------------------------
//						List Layout
// ------------------------------------------------------------------ */

.albumtitle {
	width:100%;
	position: relative;
	margin:0 auto;
	max-width:80%;
	display:block;
	color:#FFF;
	text-align:center !important;
	font:12px bold Arial, Helvetica, sans-serif;
	text-shadow: #061926 1px 1px 5px;
	
}

.center {
	margin: auto;
	display: block;
	text-align: center!important;
}
#list img { border: 0; }
a:hover .arrow {background-position: 0 -13px!important;}
@media screen and (max-width: 320px)
{
#topbar {height: 44px;}
#title {
	line-height: 44px;
	height: 44px;
	font-size: 15pt;
}
.searchbox form {width: 272px;}
.searchbox input[type="text"] {width: 275px;}
.menu .name {max-width: 77%;}
.radiobutton .name {max-width: 190px;}
#leftnav a,#left a, #rightnav a, #leftbutton a, #rightbutton a, #blueleftbutton a, #bluerightbutton a {
	line-height: 30px;
	height: 30px;
}
#leftnav img, #rightnav img, #left img {margin-top: 4px;}
#leftnav, #leftbutton, #blueleftbutton, #left {top: 7px;}
#rightnav, #rightbutton, #bluerightbutton {top: 7px;}
.textbox textarea {width: 280px;}
.bigfield input{width:295px}
}
@media screen and (min-width: 321px)
{
#topbar {height: 32px;}
#title {
	line-height: 32px;
	height: 32px;
	font-size: 13pt;
}
.menu .name {max-width: 85%;}
.radiobutton .name {max-width: 75%;}
#leftnav a, #rightnav a, #leftbutton a, #rightbutton a, #blueleftbutton a, #bluerightbutton a, #left a {
	line-height: 24px;
	height: 24px;
}
#leftnav img, #rightnav img,#left img {
	margin-top: 4px;
	height: 70%;
}
#leftnav, #leftbutton, #blueleftbutton, #left {top: 4px;}
#rightnav, #rightbutton, #bluerightbutton {top: 4px;}
.textbox textarea {width: 440px;}

.searchbox form {width: 432px;}
.searchbox input[type="text"] {width: 435px;}
.bigfield input{width:455px}
}
#topbar.black {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#858585), 
		color-stop(0, rgb(106,137,156)),
		color-stop(0.03, rgb(22,80,118)),
		color-stop(0.5, rgb(9,32,47)),
		color-stop(0.51, rgb(9,32,47)),
		color-stop(0.97, rgb(9,32,47)),
		color-stop(1, rgb(38,38,38))
		);

}
#topbar.transparent {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(133,133,133,0.7)), 
		color-stop(3%, rgba(99,99,99,0.7)), 
		color-stop(50%, rgba(32,32,32,0.7)), 
		color-stop(51%, rgba(0,0,0,0.7)), 
		color-stop(97%, rgba(0,0,0,0.7)), 
		to(rgba(38,38,38,0.7)));
}
#topbar {
	position: relative;
	left: 0;
	top: 0;
	width: auto;
	margin-bottom: 0px;
	background:url(../images/PooltableBlue256.jpg) 50% repeat;
	font-family: Helvetica, Arial, sans-serif
}
#title {
	position: absolute;
	font-weight: bold;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 10px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
	font-size:15px;
	background:url(../images/everPics_TitleBar.png) 50% no-repeat;
	border-bottom:1px solid #14496B!important;
}
#content {
	width: 100%; 
	position: relative;
	min-height: 250px;
	height: auto;
	z-index: 0;
	overflow: hidden;
	margin-top:6px;
	
	/*background:#0F3650 url(../images/PooltableBlue64.png);*/
}
#footer {
	text-align: center;
	position: relative;
	margin: 20px 10px 0;
	height: auto;
	width: auto;
	bottom: 10px;
}
#footer a, #footer {
	text-decoration: none;
	font-size: 9pt;
	color: white;
}
.pageitem {
	-webkit-border-radius: 8px;
	background-color: #fff;
	border: #878787 solid 1px;
	font-size: 12pt;
	overflow: hidden;
	padding: 0;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 3px 9px 17px;
	list-style: none;
}
.textbox {
	padding: 5px 9px;
	position: relative;
	overflow: hidden;
	/*border-top: 1px solid #878787;*/
}
.searchbox {
	height: 44px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f3f4), color-stop(3%, #e0e4e7), color-stop(50%, #c7cfd4), color-stop(51%, #bec7cd), color-stop(97%, #b4bec6), to(#8999a5));
	margin: -13px 0 13px 0;
	width: 100%;
}
.searchbox form {
	height: 24px;
	-webkit-border-image: url('../images/iwebkit/searchfield.png') 4 14 1 24;
	border-width: 4px 14px 1px 24px;
	display: block;
	position: relative;
	top: 8px;
	margin: auto;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.searchbox input[type="text"] {
	border: 0;
	-webkit-appearance: none;
	height: 18px;
	float: left;
	font-size: 13px;
	padding: 0;
	position: relative;
	top: 2px;
	left: 2px;
}
.textbox img {max-width: 100%;}
.textbox p {margin-top: 2px;}
.textbox p {
	margin-top: 2px;
	color: #000;
	margin-bottom: 2px;
	text-align: justify;
}
.textbox img {max-width: 100%;}
.textbox ul {
	margin: 3px 0 3px 0;
	list-style: circle!important;
}
.textbox li {margin: 0!important;}
.pageitem li:first-child, .pageitem li.form:first-child 
{
	border-top: 0;
}
.menu, li.button {
	position: relative;
	list-style-type: none;
	display: block;
	height: 43px;
	overflow: hidden;
	border-top: 1px solid #878787;
	width: auto;
}
.pageitem li:first-child:hover, .pageitem li:first-child a, .radiobutton:first-child input, li.button:first-child input {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}
.pageitem li:last-child:hover, .pageitem li:last-child a, .radiobutton:last-child input, .select:last-child select, li.button:last-child input, .bigfield:last-child input {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.menu:hover, #list #content li a:hover, #list .withimage:hover {
	/*background-image:url(../images/PTB_TableElement_Sel.png) !important;*/
}

.menu a:hover .name, #list .withimage a:hover .comment {}
.menu a:hover .comment {}
.menu a {
	display: block;
	height: 43px;
	width: auto;
	text-decoration: none;
}
.menu a img {
	width: auto;
	height: 32px;
	margin: 5px 0 0 5px;
	float: left;
}
.menu .name{
	margin: 11px 0 0 7px;
	width: auto;
	color: #000;
	font-weight: bold;
	font-size: 17px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	float: left;
}
.menu .comment {
	margin: 11px 30px 0 0;
	width: auto;
	font-size: 17px;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 75%;
	white-space: nowrap;
	float: right;
	color: #324f85;
}

#list .withimage .comment {
	font-size: 12px;
	color: #7f7f7f;
	display: block;
	width: 60%;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#list .withimage .comment {margin: 16px 0 0 95px;}

#list .withimage .arrow {
	
	width: 8px!important;
	height: 13px!important;
	position: absolute;
	right: 15px;
	top: 30px!important; /*top: 33px!important;*/
	margin: 0!important;
	background: url("../images/iwebkit/arrow_white.png") 0 0 no-repeat;
}

.graytitle {
	position: relative;
	font-weight: bold;
	font-size: 17px;
	right: 20px;
	left: 9px;
	color: #4C4C4C;
	text-shadow: #FFF 0 1px 0;
	padding: 1px 0 3px 8px;
	font-family: Helvetica, Arial, sans-serif
}
.header {
	display: block;
	font-weight: bold;
	color: rgb(73,102,145);
	font-size: 12pt;
	margin-bottom: 6px;
	line-height: 14pt;
}
#list .title {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b1ba), color-stop(3%, #909faa), color-stop(97%, #b5bfc6), to(#989ea4));
	height: 22px!important;
	width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-shadow: gray 0 1px 0;
	line-height: 22px;
	padding-left: 20px;
	border-bottom: none!important;
}
#list ul {
	width:auto;
	height:auto;
	margin: 20px 19px;
	padding: 0;
	/*background-color: #0F3650;*/
	border: 2px solid #FCFCFC;
	-webkit-border-radius: 9px;
	overflow: hidden;	
}

#list #content li {
	height: 70px; /*75*/
	padding: 6px 0px 6px 6px!important;
	margin: 0px!important;
	position: relative!important;
	border-top: 1px solid white!important;
	list-style: none!important;
}

#list #content li:first-child {
	border-top:none!important;
}
#list #content li:last-child {
	border-bottom:none!important;
}

#list {
	background-color: #fff;
	background-image: none!important;
}
#list #footer {
	margin-top: 24px!important;
}
#list #content li a {
	width: 100%;
	height: 75px;
	position: absolute;
	display: block;
	color: white;
	font-size: medium;
	font-weight: bold;
	text-decoration: none;
}

#list #content li a .name {
	display: block;
	max-width: 60%;
	margin:0px; 
	position: absolute;
	
	left: 80px;
	top: 30px;
	
	font-size: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


#list #content li a:hover { background-color:none;}
#list #content {
}
#list ul img {
	width: auto;  /*75*/
	height: auto;
	position: absolute!important;
	left: -2px; 
	top: 3px;
}

#list .withimage .comment { margin: 10px auto auto 90px !important; max-width: 63%!important; }
#list .withimage a, #list .withimage:hover a {}
#leftnav, #leftbutton, #blueleftbutton, #left {
	position: absolute;
	font-size: 12px;
	left: 9px;
	font-weight: bold;
}
#leftnav, #leftbutton, #rightnav, #rightbutton, #blueleftbutton, #bluerightbutton, #left { z-index: 5000; }
#leftnav a, #left a, #rightnav a, #leftbutton a, #rightbutton a, #blueleftbutton a, #bluerightbutton a {
	display: block;
	color: #fff;
	text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
	text-decoration: none;
}
.black #leftnav a:first-child, .transparent #leftnav a:first-child, .black #left a:first-child {
	-webkit-border-image: url("../images/iwebkit/navleftblack.png") 0 5 0 13;
}
.black #leftnav a, .transparent #leftnav a, .black #left a {
	-webkit-border-image: url("../images/iwebkit/navlinkleftblack.png") 0 5 0 13;
}
.black #rightnav a:first-child, .transparent #rightnav a:first-child {
	-webkit-border-image: url("../images/iwebkit/navrightblack.png") 0 13 0 5;
}

.black #rightnav a, .transparent #rightnav a {
	-webkit-border-image: url("../images/iwebkit/navlinkrightblack.png") 0 13 0 5;
}
.black #leftbutton a, .black #rightbutton a, .transparent #leftbutton a, .transparent #rightbutton a {
	-webkit-border-image: url("../images/iwebkit/navbuttonblack.png") 0 5 0 5;
}
#leftnav a:first-child, #left a:first-child {
	z-index: 2;
	-webkit-border-image: url("../images/iwebkit/navleft.png") 0 5 0 13;
	border-width: 0 5px 0 13px;
	-webkit-border-top-left-radius: 16px;-webkit-border-bottom-left-radius: 16px;
	-webkit-border-top-right-radius: 6px;-webkit-border-bottom-right-radius: 6px;
	width: auto;
}
#leftnav a, #left a {
	-webkit-border-image: url("../images/iwebkit/navlinkleft.png") 0 5 0 13;
	z-index: 3;
	margin-left: -4px;
	border-width: 0 5px 0 13px;
	padding-right: 4px;
	-webkit-border-top-left-radius: 16px;-webkit-border-bottom-left-radius: 16px;
	-webkit-border-top-right-radius: 6px;-webkit-border-bottom-right-radius: 6px;
	float: left;
}
#rightnav, #rightbutton, #bluerightbutton {
	position: absolute;
	font-size: 12px;
	right: 9px;
	font-weight: bold;
}
#rightnav a {
	-webkit-border-image: url("../images/iwebkit/navlinkright.png") 0 13 0 5;
	z-index: 3;
	margin-right: -4px;
	border-width: 0 13px 0 5px;
	padding-left: 4px;
	-webkit-border-top-left-radius: 6px; -webkit-border-bottom-left-radius: 6px;
	float: right;
	-webkit-border-top-right-radius: 16px; -webkit-border-bottom-right-radius: 16px;
}
#rightnav a:first-child {
	z-index: 2;
	-webkit-border-top-left-radius: 6px; -webkit-border-bottom-left-radius: 6px;
	-webkit-border-image: url("../images/iwebkit/navright.png") 0 13 0 5;
	border-width: 0 13px 0 5px;
	-webkit-border-top-right-radius: 16px; -webkit-border-bottom-right-radius: 16px;
}
#leftbutton a, #rightbutton a {
	-webkit-border-image: url("../images/iwebkit/navbutton.png") 0 5 0 5;
	border-width: 0 5px;
	-webkit-border-radius: 6px;
}
#blueleftbutton a, #bluerightbutton a {
	-webkit-border-image: url("../images/iwebkit/navbuttonblue.png") 0 5 0 5;
	border-width: 0 5px;
	-webkit-border-radius: 6px;
}
.button input {
	width: 100%; height: 100%;
	-webkit-appearance: none;
	border: 0;
	-webkit-border-radius: 0;
	font-weight: bold; font-size: 17px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden; background: none;
}

/* -------------------------------------------------------------------
//		Touchscroll
// ------------------------------------------------------------------ */

.touchScrollBars {
    display: -webkit-box;
	padding: 3px;
	position: relative;
	float: left;
	margin-left: -100%;
	width: 100%;
	z-index: 2147483647;
	-webkit-transform: translateX(100%);
	-webkit-box-align: end;
	-webkit-box-pack: end;
	-webkit-box-sizing: border-box;
}
.touchScrollTrack {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.touchScrollTrackX {height: 6px;}
.touchScrollTrackY {
	float: right;
	width: 6px;
}
.touchScrollBarsBoth {
	padding-bottom: 12px;
	padding-right: 12px;
}
.touchScrollBarsBoth .touchScrollTrackX {-webkit-transform: translateY(9px);}
.touchScrollBarsBoth .touchScrollTrackY {-webkit-transform: translateX(3px);}
.touchScrollHandle {
	border: 1px solid;
	min-height: 4px;
	min-width: 4px;
	-webkit-transition-property: -webkit-transform, height, width;
	-webkit-border-radius: 3px;
	
	/* COLOR VARIANTS */
	/* Default */
	border-color: rgba(255, 255, 255, 0.15);
	background: rgba(0, 0, 0, 0.5);
	/* 
	White
	border-color: rgba(255, 255, 255, 0.5);
	background: rgba(255, 255, 255, 0.5);
	---
	Black
	border-color: rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.5);
	*/
}

/* -------------------------------------------------------------------
//		DOC-LEVEL: TEST
// ------------------------------------------------------------------ */

.iWebkitBody{
	position:relative;margin:0;
	-webkit-text-size-adjust:none;
	min-height:416px;
	-webkit-background-size:0.438em 100%;
	font-family:Helvetica, Arial, sans-serif;
	background:-webkit-gradient(linear,left top,right top,from(#c5ccd4), color-stop(71%, #c5ccd4), color-stop(72%, #cbd2d8), to(#cbd2d8))!important; 	 
	-webkit-touch-callout: none;
}

#invite_users,#downnload_pic{
	color: #444 !important;
	padding:10px;
	margin: 0px auto;
}
#invite_users a,#downnload_pi a{}
#invite_users a:hover,#downnload_pic a:hover{}
#invite_users b,#downnload_pic b{}

#upload_pic{ 
	margin:0 auto; 
	padding:15px;
	text-align:center;
	margin-top:10%;
	color: white;
	font-size: 14px;
}

#upload_pic a{
	text-decoration:underline;	
	font-size: 14px;
	color: #FBFB00;
	font-weight:bold;
}
#upload_pic a:hover{color: #FFF;}
#upload_pic b{font-size:16px;}

.nr{
	float:right; 
	color:#FFFFFF; /*#6B6B6B;*/ 
	text-indent:3px;
}
@-webkit-keyframes my-fade-in {
 0% {
   opacity: 0.0;
   -webkit-transform: rotatex(90deg);
 }
 100% {
   opacity: 1.0; 
   -webkit-transform: rotatex(0deg);
 }
}