/* 
	v 1.02.00
*/

body {
	min-height: 916px; /* 63 */
	margin: 0;
    font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
    color: #000 !important;
	border-collapse: collapse;
	
	/*background-color:#000 !important; */
	background-color: #0F3650;
	-webkit-background-size: 256px 256px;	
	background:url(PooltableBlue256.jpg) 50% repeat;
}

body[orient="landscape"] {
	min-height: 660px; /* 51 */
}

/* TOOLBARS */
.toolbar table {
	width: 768px;
}
body[orient="landscape"] .toolbar table {
	width: 1024px;
}

.toolbar table .wing {
	width:200px; /* x2 */
}
body[orient="landscape"] .toolbar table .wing
{
	width:240px; /* x2 */
}

.toolbar table .center
{
	width:368px;
}

body[orient="landscape"] .toolbar table .center
{
	width:544px;
}
 
#thumbs-count-text
{
	padding-top: 40px;
	padding-bottom: 60px;
}

/* SLIDE  */
#slider-container .slide
{
	width: 768px;
}
body[orient="landscape"] #slider-container .slide
{
	width:1024px;	
}

#slider-container .slide img
{	
	max-width: 512px;
	max-height: 609px;
	
	border:2px #FFF solid;
	-webkit-box-shadow:#061621 5px 5px 15px;
}

body[orient="landscape"] #slider-container .slide img
{	
	max-width: 680px;
	max-height: 449px; /*469px;*/
}

/*@media only screen and (device-width: 768px) and (orientation: landscape) 
{
	#slider-container .slide img
	{
    	max-width: 680px;
		max-height: 669px;
	}
}*/
/*@media only screen and (max-device-width: 1024px) and (orientation:landscape) 
{ 
	body[orient="landscape"] #slider-container .slide img
	{	
	 max-width: 680px;
	 max-height: 469px;
	}
}*/

#slider-container .space
{
	height: 916px;
}

body[orient="landscape"] #slider-container .space
{
	height: 660px;
}

#slider-container .space-width	
{
	height: 1px;
	width: 768px;
}

body[orient="landscape"] #slider-container .space-width
{
	height: 1px;
	width: 1024px;
}

#slider-desc-container
{
	width:768px;
	height:828px;
	top:44px;
}
body[orient="landscape"] #slider-desc-container
{
	width:1024px;
	height:572px;
	top:44px;
}
#slider-toolbar-bottom
{
	top: 872px;
}

body[orient="landscape"] #slider-toolbar-bottom
{
	top: 616px;
}

/* NAVI ELEMENTS */
.button {
	min-width: 70px;
	max-width: 120px;
}

body[orient="landscape"] .button {
	max-width: 200px;
}

/* SPLASH SCREEN */
#splash-screen
{
	height: 916px;
}
body[orient="landscape"] #splash-screen
{
	height: 660px;
}

.noborder{border:none!important; border:0 !important;}

#ep-ad {
	background-color: rgba(15,54,80,0.5);
	position:absolute;
	top:45px;
}

body[orient="landscape"] #ep-ad {text-align:center;}
body[orient="portrait"] #ep-ad {text-align:center;}

#admob_ad
{
	position:relative;
	left: 0px; 
	top: 0px;	
	text-align:center;
}

@media only screen and (orientation:landscape) 
{ 
	#admob_ad
	{
		width: 1024px!important; 
		height: 48px; 
	}
}
@media only screen and (orientation:portrait)
{
	#admob_ad
	{
		width: 768px!important; 
		height: 48px; 
	}
}
body[orient="landscape"] #ep-link {
	text-align:center;
	margin:0 auto;
	width:1024px;
	position:absolute;
	top:590px !important;
	left:50%;
	margin-left:-512px;
}	
body[orient="landscape"] #ep-link a {}

#ep-link {
	text-align:center;
	margin:0 auto;
	width:768px;
	position:absolute;
	top:843px !important;
	left:50%;
	margin-left:-384px;
}
#ep-link a {
	color:#FFF;
	font-family:helvetica, sans-serif;
	text-decoration:none;
	font-size:17px;
}