div#container {
	overflow: hidden;
}
div.content {
	display: none;
	clear: both;
}

div.content a, div.navigation a {
	text-decoration: none;
}
div.content a:hover, div.content a:active {
	text-decoration: underline;
}

div.navigation a.pageLink { 
	height:55px; /*77*/
	line-height:55px; /*77*/
}

div.controls {
	margin-top: 370px;  /*15*/
	margin-left:23px;
	height: 23px;
	font-size: 75%;
	
	width:480px;
}
div.controls a {
	padding: 5px;
}
div.ss-controls {
	/*float: left;
	margin-left:40px;*/
	width:480px;
	text-align:center;
}

div.ss-controls a.play{
	background: url("../img/navPlay.png") no-repeat !important;
	padding-left: 15px; 
	padding-bottom:0px;
	
	
	bottom: 10px;
	text-align: center;
	width: auto;


	
}
div.ss-controls a.pause{
	background: url("../img/navPause.png") no-repeat !important;
	padding-left: 15px; 
	padding-bottom:0px;
	
	bottom: 10px;
	text-align: center;
	width: auto;
}

div.nav-controls {
	/*float: right;
	margin-right: 20px;*/
}
div.nav-controls a.prev{
	background: url("../img/navPrev.png") no-repeat !important;
	padding-left: 23px; 
	padding-bottom:0px;
	
	clear: both;
	position: relative;
	top: -15px;
	left: 25px;
	width: auto;
	z-index: 100;
}
div.nav-controls a.next{
	background: url("../img/navNext.png") no-repeat !important;
	padding-left: 23px;
	padding-bottom:0px;
	margin-left:5px;
	
	clear: both;
	position: relative;
	top: -15px;
	left: 400px;
	padding-bottom: 0px;
	width: auto;
	z-index: 200;
}

div.slideshow-container,
div.loader,
div.slideshow a.advance-link {
	width: 480px; /* 510 This should be set to be at least the width of the largest image in the slideshow with padding */
	
}

div.loader,
div.slideshow a.advance-link,
div.caption-container {
	height: 350px; /*502 This should be set to be at least the height of the largest image in the slideshow with padding */	
	
}

div.slideshow-container {
	position: relative;
	clear: both;
	float: left;
	max-height:350px;
	/*height: 532px;*/
}

div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top:15px;/*40px;*/
	left:23px; /*0*/
}
div.slideshow a.advance-link {
	display: block;
	/*line-height: 402px;*/ 
	/*502  This should be set to be at least the height of the largest image in the slideshow with padding */
	text-align: center;
}

div.slideshow a.advance-link:hover,
div.slideshow a.advance-link:active,
div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow a.advance-link:focus {
	outline: none;
}

div.slideshow img {
	border-style: solid;
	border-width: 1px;
	max-height: 330px;
}
div.caption-container {
	float: right;
	position: relative;
	margin-top: 35px; /*30*/
	
	text-align: justify; /* N */
	font-size:90%; /* N */
}
span.image-caption {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

div.caption-container, span.image-caption {
	width: 334px;
}

div.caption {
	padding: 0 12px;
}

div.image-title {
	font-weight: bold;
	font-size: 1.2em; /*1.4em;*/
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.download {
	margin-top: 8px;
}
div.photo-index {
	position: absolute;
	bottom: 0;
	right: 0; /*left: 0;*/
	padding: 0 12px;
}
div.navigation-container {
	float: left;
	position: relative;
	left: 50%;
}
div.navigation {
	float: left;
	position: relative;
	left: -50%;
	
	/*background: #103751;*/
}
div.navigation a.pageLink {
	display: block;
	position: relative;
	float: left;
	margin: 2px;
	width: 16px;
	background-position:center center;
	background-repeat:no-repeat;
}
div.navigation a.pageLink:focus {
	outline: none;
}

ul.thumbs {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 2px;
	list-style: none;
}
a.thumb {
	padding: 1px;
	display: block;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
div.pagination {
	clear: both;
	position: relative;
	left: -50%;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	position: relative;
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div.pagination a:hover {
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}

div.gallery-gutter {
	clear: both;
	padding-bottom: 20px;
}

