*{
	font-family: Helvetica, Arial, sans-serif;
	color: white;
}

@media screen and (max-width:320px) {
 #topbar {
 height:44px;
}
 #title {
 line-height:44px;
 height:44px;
 font-size:16pt
}
 #leftnav a, #rightnav a, #leftbutton a, #rightbutton a, #blueleftbutton a, #bluerightbutton a {
 line-height:30px;
 height:30px
}
 #leftnav img, #rightnav img {
margin-top:4px
}
#leftnav, #leftbutton, #blueleftbutton {
top:7px
}
#rightnav, #rightbutton, #bluerightbutton {
top:7px
}
}
@media screen and (min-width:321px) {
 #topbar {
 height:32px;
}
 #title {
 line-height:32px;
 height:32px;
 font-size:13pt
}
#leftnav a, #rightnav a, #leftbutton a, #rightbutton a, #blueleftbutton a, #bluerightbutton a {
line-height:24px;
height:24px
}
#leftnav img, #rightnav img {
margin-top:4px;
height:70%
}
#leftnav, #leftbutton, #blueleftbutton {
top:4px
}
#rightnav, #rightbutton, #bluerightbutton {
top:4px
}
}
#topbar {
	position:relative;
	left:0;
	top:0;
	width:auto;
	max-width:768px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#858585), from(#6A899C), color-stop(0.03, #165076), color-stop(0.5, #09202F), color-stop(0.51, #09202F), color-stop(0.97, #09202F), to(#262626));
	font-family: Helvetica, Arial, sans-serif;
}
#title {
	position:absolute;
	font-weight:bold;
	top:0;
	left:0;
	right:0;
	padding:0 10px;
	text-align:center;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	text-shadow:rgba(0, 0, 0, 0.6) 0 -1px 0;
}
#title {
	background:url(../../assets/images/everPics_TitleBar.png) 50% no-repeat;
	font-size:15px;
	border-bottom: 1px solid #14496B;
}


#leftnav, #leftbutton, #blueleftbutton {
	position:absolute;
	font-size:12px;
	left:9px;
	font-weight:bold
}
#leftnav, #leftbutton, #rightnav, #rightbutton, #blueleftbutton, #bluerightbutton {
	z-index:5000
}
#leftnav a, #rightnav a, #leftbutton a, #rightbutton a, #blueleftbutton a, #bluerightbutton a {
	display:block;
	text-shadow:rgba(0, 0, 0, 0.6) 0 -1px 0;
	text-decoration:none
}
.black #leftnav a:first-child, .transparent #leftnav a:first-child {
	-webkit-border-image:url("../../assets/images/iwebkit/navleftblack.png") 0 5 0 13
}
.black #leftnav a, .transparent #leftnav a {
	-webkit-border-image:url("../../assets/images/iwebkit/navlinkleftblack.png") 0 5 0 13
}
.black #rightnav a:first-child, .transparent #rightnav a:first-child {
	-webkit-border-image:url("../../assets/images/iwebkit/navrightblack.png") 0 13 0 5
}
.black #rightnav a, .transparent #rightnav a {
	-webkit-border-image:url("../../assets/images/iwebkit/navlinkrightblack.png") 0 13 0 5
}
.black #leftbutton a, .black #rightbutton a, .transparent #leftbutton a, .transparent #rightbutton a {
	-webkit-border-image:url("../../assets/images/iwebkit/navbuttonblack.png") 0 5 0 5
}

#leftnav a:first-child {
	z-index:2;
	-webkit-border-image:url("../../assets/images/iwebkit/navleft.png") 0 5 0 13;
	border-width:0 5px 0 13px;
	-webkit-border-top-left-radius:16px;
	-webkit-border-bottom-left-radius:16px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	width:auto
}
#leftnav a {
	-webkit-border-image:url("../../assets/images/iwebkit/navlinkleft.png") 0 5 0 13;
	z-index:3;
	margin-left:-4px;
	border-width:0 5px 0 13px;
	padding-right:4px;
	-webkit-border-top-left-radius:16px;
	-webkit-border-bottom-left-radius:16px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	float:left
}
#rightnav, #rightbutton, #bluerightbutton {
	position:absolute;
	font-size:12px;
	right:9px;
	font-weight:bold
}
#rightnav a {
	-webkit-border-image:url("../../assets/images/iwebkit/navlinkright.png") 0 13 0 5;
	z-index:3;
	margin-right:-4px;
	border-width:0 13px 0 5px;
	padding-left:4px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	float:right;
	-webkit-border-top-right-radius:16px;
	-webkit-border-bottom-right-radius:16px
}
#rightnav a:first-child {
	z-index:2;
	-webkit-border-top-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-image:url("../../assets/images/iwebkit/navright.png") 0 13 0 5;
	border-width:0 13px 0 5px;
	-webkit-border-top-right-radius:16px;
	-webkit-border-bottom-right-radius:16px
}
#leftbutton a, #rightbutton a {
	-webkit-border-image:url("../../assets/images/iwebkit/navbutton.png") 0 5 0 5;
	border-width:0 5px;
	-webkit-border-radius:6px
}
#blueleftbutton a, #bluerightbutton a {
	-webkit-border-image:url("../../assets/images/iwebkit/navbuttonblue.png") 0 5 0 5;
	border-width:0 5px;
	-webkit-border-radius:6px
}

#AN-sObj-val-24{width: 100%;}
#epform{
	position: relative !important; 
	top:33px;
	text-align: center;
	margin: 0px !important;
	padding:4px !important;
	/*width:95%;*/	
}	
p#correct{
		display:block!important;
		margin:0; padding:0; border:0;
		margin-left: 3px!important;
		margin-right:3px!important;  
		margin-bottom:4px !important;  
	}

   /***** BUTTONS *****/
   p.down { margin: 0px 10px !important; }
	
	.entry
	{
	  border-radius:7px;	
	  font: normal normal normal 18px/30px Helvetica;
	  color:black;
	  text-indent:8px;	
	  width: 100% !important;
	  border:0!important;
	  padding:0!important;	
	  margin-top:7px !important;
	  /*-webkit-appearance: none;background: transparent;height: 100%;*/
	}
	  .button {
		  font: normal normal bold 20px/46px Helvetica;
		  text-decoration: none;
		  text-align: center;
		  text-shadow: #000 0 1px 0;
		  border-width: 0px 14px;
		  display: block;
		  margin: 7px 0 !important;
		  width: auto !important;
		  }
	  	  .green {-webkit-border-image: url(../../assets/images/greenButton.png) 0 14 0 14; }
		  
/* James Info */
#server-info {
	width: 760px;
	height: 100%;
	position: relative;
	top: 20px;
	left: 2px;
	margin:0 auto;	
}
#server-name{ width:100%;}
#server-name span{
	width: 100%;
	max-width: 80%;
	display:block;
	margin: 0px auto;
	font-size:22px;
	font-weight:bold;
	line-height: 22px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: #061926 1px 1px 5px;
	white-space: nowrap;
}
#server-pic {
	width: 100%;
	text-align: center;
	top: 37px;
	border:none;
	margin:0 auto;
}
#server-pic img {
	height: auto;
	max-height: 90px;
	width: 90px;
}