body, h1, h2, h3, h4, h5, h6{
	font-family:'Open Sans', sans-serif;
}
.navbar {
	border-radius: 0px;
}
#mycontent{
	margin-top: 100px;
}
#idHosts a, #idHosts a:hover, #idHosts a:focus {
	color: #333;
}
#idHostsCnt{
	font-weight: bold;
}
.glyphicon-remove{
	color:#D20000;
}
.glyphicon-envelope{
	color:#007EFD;
}
.glyphicon-floppy-save{
	color: #008000;
}
.glyphicon-paperclip{
}
#idRefresh.glyphicon-refresh{
	font-weight: bold;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}